<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>部门岗位管理</title>
<%include("resource/template/common/resource.html"){}%>
</head>
<script id="tableContent" type="text/html">
	{{each dataList as row}}
		<tr>
			<td>
            	<span class="checkall" style="vertical-align:middle;">
                	<input id="id_{{row.id}}" type="checkbox" name="_ckid" value="{{row.id}}"/>
               	</span>
            </td>
            <td>{{row.id}}</td>
            <td>{{row.job_name}}</td>
            <td>{{row.dept_id}}</td>
            <td>{{row.dept_name}}</td>
            <td>{{row.administrative_sup}}</td>
            <td>{{row.administrative_sup_name}}</td>
            <td>{{row.job_description}}</td>
            <td>
               <#permission url="/admin/sys/job/edit">
				 <a href="javascript:;" class="img-btn edit operator" onclick="edit('${ctx}/admin/sys/job/edit/{{row.id}}')">修改</a>
               </#permission>  
            </td>
         </tr>
	{{/each}}
</script>
<body class="mainbody">
        <div class="toolbar-wrap">
            <div id="floatHead" class="toolbar">
                <div class="l-list">
                    <ul class="icon-list">
                    	<#permission url="/admin/sys/job/insert">
	                        <li><a class="add" onclick="add('${ctx}/admin/sys/job/add')" href="javascript:;"><i></i><span>新增</span></a></li>
						</#permission>
                        <#permission url="/admin/sys/job/delete">
                        <li><a class="all" href="javascript:;" onclick="checkAll(this);"><i></i><span>全选</span></a></li>
                        <li><a onclick="del('${ctx}/admin/sys/job/delete')" id="btnDelete" class="del" href="javascript:;"><i></i><span>删除</span></a></li>
                        </#permission>
                    </ul>
                </div>
             </div>
        </div>
        
          <div class="searchbar">
          <div class="searchForm">
          <form id="search_form">
			<dl>
				<dt>部门名称</dt>
				<dd>
					<input type="text" class="input normal big" id="dept_name" name="dept_name">
				</dd>
			</dl>
			<dl style="width:280px;">
				<dt style="width:100px;">上级行政岗位名称</dt>
				<dd>
					<input type="text" class="input normal big" id="administrative_sup_name" name="administrative_sup_name" style="margin-left:5px;">
				</dd>
			</dl>		
			<dl>
				<dt>岗位名称</dt>
				<dd>
					<input type="text" class="input normal big" id="job_name" name="job_name">
				</dd>
			</dl>					
          </form>
         </div>
          <div class="searchButton">
             <input id="searchBtn" class="btn" type="button" value="搜 索" />
             <input id="clearBtn" class="btn yellow" type="button" value="重 置" />
   		  </div>
   		</div>
   		  
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable" url="${ctx}/admin/sys/job/json">
            <tr>
                <th>选择</th>
                 <th sort="id">岗位id</th>
                <th sort="job_name">岗位名称</th>
                <th sort="dept_id">部门ID</th>
                <th sort="dept_name">部门名称</th>
                <th>行政上级id</th>
                <th>行政上级名称</th>
                <th sort="job_description">岗位描述</th>
                <th>操作</th>
            </tr>
            <tbody id="tablelist"></tbody>
        </table>
        <div class="pagelist"></div>
</body>
</html>