<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>新增页面参数</title>
<%include("resource/template/common/resource.html"){}%>
<body class="mainbody">
		<div class="content-tab-wrap">
			<div id="floatHead" class="content-tab">
				<div class="content-tab-ul-wrap">
					<ul>
						<li><a href="javascript:;" onclick="tabs(this);"class="selected">新增页面参数</a></li>
					</ul>
				</div>
			</div>
		</div>
		<form id="data_form">
		<div class="tab-content">
			<dl>
				<dt>模板名称</dt>
				<dd>
				<%if(flist!=null){%>
				<div class="rule-single-select">
					<select  style="width: 300px" name="template_name" id="template_name">
					<option value="base">基本信息</option>
					<%for(list in flist!){%>
						<option value="${list.template_name}">${list.show_name}</option>
						<%for(son in list.sons!){%>
						<option value="${son.template_name}" >&nbsp;&nbsp;${son.show_name}</option>
						<%}%>
					<%}%>
	   		      	</select>
	   		     </div>
	   		     <%}%>
					<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>显示名字</dt>
				<dd>
					<input name="display_name" type="text" id="display_name" class="input normal"/>
					<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>参数类型</dt>
				<dd>
				  <div class="rule-single-select">
				   <select id="param_type" name="param_type"  >
						<option value="label">label</option>
						<option value="textarea">textarea</option>
						<option value="image">image</option>
						<option value="article">article</option>
						<option value="bean">bean</option>
					</select>
					</div>
				</dd>
			</dl>
			<dl>
				<dt>参数名</dt>
				<dd>
					<input name="param_key" type="text" id="param_key" class="input normal"  />
					<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>参数值</dt>
				<dd>
					<input name="param_value" type="text" id="param_value" class="input normal" />
					<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>链接</dt>
				<dd>
					<input name="param_link" type="text" id="param_link" class="input normal"/>
				</dd>
			</dl>
			<dl>
				<dt>备注</dt>
				<dd>
					<input name="memo" type="text" id="memo" class="input normal"/>
				</dd>
			</dl>
		</div>
		</form>
		<div class="page-footer">
			<div class="btn-list">
			<#permission url="/admin/webpublish/template_param/insert">
				<input type="button" name="btnSubmit" value="确 认" id="btnSubmit" class="btn" onclick="Public.ajaxInsert('${ctx}/admin/webpublish/template_param/insert')"/> 
            </#permission>
				<input name="btnReturn" type="button" value="取 消" class="btn yellow" onclick="Public.closeDialog();" />
			</div>
			<div class="clear"></div>
		</div>
</body>
</html>