<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="x5-page-mode" content="no-title">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="no"/>
<title>我的-关于</title>
<%include("/h5/common/assets.html"){}%>
</head>

<body>
<header class="header">
		<div class="wrap">
				<h1 class="title"><a class="t-left" href="javascript:history.back(-1);"><img src="${ctxPath}/portal/h5/images/top-left_03.png"></a><span class="txt">关于</span></h1>
		</div>
</header>
<div class="main wrap bg-fff">
		<div class="yl-about">
				<div class="img">
						<img src="${ctxPath}/portal/h5/images/yl/yl-6_03.png">
				</div>
				<div class="con">
						<p class="p t-int">人保资产基金APP为人保资产基金事业部推出的面向个人的基金直销互联网平台，用于进行线上的基金交易和展示人保资产的公募基金产品信息和公告等文章信息。</p>
						<p class="p">其他介绍文字。</p>
						<p class="p">募基金产品信息和公告等文章信息。</p>
				</div>
			
		</div>
			<div class="yl-tel-box">
						<p class="tel">400-xxx-xxxx</p>
						<p class="time">服务时间：工作日9:00-17:00 </p>
						<p class="by">&nbsp; 2016人保资产基金 </p>
				</div>
</div>
</body>
</html>
