<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="x5-page-mode" content="no-title">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="no"/>
<title>手机号变更</title>
<%include("/h5/common/assets.html"){}%>
<script type="text/javascript" src="${ctxPath}/portal/h5/js/regular.js"></script>
<script type="text/javascript">
var wait =60; 
function time() {
	if (wait == 0) {
		$("#send_authcode").attr("onclick","sendcode();");
		$("#send_authcode").text("发送手机验证码");
		$("#send_authcode").css("background","#f25050");
        wait = 60;
    } else {
    	$("#send_authcode").removeAttr("onclick");
    	$("#send_authcode").css("background","#dcdcdc");
    	$("#send_authcode").text("重新发送("+wait+")");
        wait--;
        setTimeout(function() {
            time()
    	}, 1000)
 	}
 }
 
//发送手机验证码
function sendcode() {
	$(".bottom-e-msg").text("");
	var mobile = $("#mobile_tel").val();
	if (mobile == "" || mobile == null) {
		$(".bottom-e-msg").text("手机号不能为空")
		return false;
	}
	if (!Regular.REG(Number(mobile), RegexEnum.mobile)) {
		$(".bottom-e-msg").text("手机格式错误")
		return false;
	}
		$.ajax({
			type : "post",
			data : {
				"mobile" : mobile,
				"template_id":"7",
				"sms_channel_id":"3"
			},
			url : "${ctxPath}/send/sendcode",
			success : function(result) {
				if (result.code == "0000") {
					time();
					$(".bottom-e-msg").text("验证码发送成功!");
				} else {
					$(".bottom-e-msg").text("验证码发送失败!");
				}
			}
		});
}
function checkphone(){
	var mobile =$("#mobile_tel").val();
	var authcode=$("#authcode").val();
	if(authcode==""||authcode==null){
		$(".bottom-e-msg").text("请输入验证码");
		return false;
	}
	$.ajax({
		type : "post",
		data : {
			"mobile" : mobile,
			"authcode" : authcode
		},
		url : "${ctxPath}/send/checkmobilecode",
		async : false,
		success : function(result) {
			console.log(result);
			if (result.code == "0000") {
				window.location.href="${ctxPath}/h5/account/authphone";
			} else {
				$(".bottom-e-msg").text(result.msg);
			}
		}
	});
}
</script>
</head>
<body>
<header class="header">
  <div class="wrap">
    <h1 class="title"><a class="t-left" href="javascript:history.back(-1);"><img src="${ctxPath}/portal/h5/images/top-left_03.png"></a><span class="txt">手机号变更</span></h1>
  </div>
</header>
<div class="main wrap">
  <div class="m50">
	 <div class="top-e-msg yl-f m-t136 m-b70">手机短信验证：${strutil.subStringTo(session.customer.data.mobile_tel,0,3)}****${strutil.subStringTo(session.customer.data.mobile_tel,7,11)}</div>
    <div class="g-inputVeri">
      <div class="g-inputDiv"> <span class="g-input-span m-l40">
        <input type="hidden"     id="mobile_tel"         value="${session.customer.data.mobile_tel!}"> 
        <input class="g-input" type="tel" placeholder=""  id="authcode" maxlength="6" >
        </span> </div>
      <a class="veri-btn veri-btn-icon" href="javascript:void(0);"  style="background-color: #f25050" id="send_authcode" onclick="sendcode()">获取验证码</a>
      <a class="g-btns g-submit g-m-t90" href="javascript:void(0);" onclick="checkphone()">下一步</a>
      <div class="bottom-e-msg"></div>
  </div>
</div>
</div>
</body>
</html>
