<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="x5-page-mode" content="no-title">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="no"/>
<title>未绑定银行</title>
<%include("/h5/common/assets.html"){}%>
</head>

<body>
<header class="header">
		<div class="wrap">
				<h1 class="title"><a class="t-left" href="javascript:history.back(-1);"><img src="${ctxPath}/portal/h5/images/top-left_03.png"></a><span class="txt">我的银行卡</span></h1>
		</div>
</header>
<div class="main wrap">
		<div class="yl-zhuan3 nobank">
				<h6 class="title">您还未绑定银行卡</h6>
				<a class="add" href="${ctxPath}/h5/account/addcard">添加银行卡</a>
		</div>
</div>
</body>
</html>
