<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="x5-page-mode" content="no-title">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="no"/>
<title>我的（代销）</title>
<%include("/h5/common/assets.html"){}%>
</head>
<script type="text/javascript">
function gotomyhtml(){
	var logintype="${session.customer.data.logintype!}"
		 if(logintype=='0'){
			 var myid_no="${session.customer.data.real_name_flag!}";//是否实名认证0：已实名认证
			 if(myid_no=="1"){
				 window.location.href="${ctxPath}/h5/account/norealname";
			 }else{
				 window.location.href="${ctxPath}/h5/account/realname";
			 }
		 }
}
window.onload=gotomyhtml();
</script>
<body>
<header class="header">
  <div class="wrap">
    <h1 class="title"><a class="t-left" href="javascript:history.back(-1);"><img src="${ctxPath}/portal/h5/images/top-left_03.png"></a><span class="txt">我的</span></h1>
  </div>
</header>
<div class="main wrap">
  <ul class="g-list-li">
    <li><a href="${ctxPath}/h5/account/message"><span class="name">消息中心</span></a></li>
    <li><a href="${ctxPath}/h5/account/editps"><span class="name">修改登录密码</span></a></li>
    <li><a href="${ctxPath}/h5/account/aboutus"><span class="name">关于</span></a></li>
  </ul>
  <a href="${ctxPath}/user/loginout" class="exit-btn">退出登录</a>
</div>
<%include("/h5/common/foot.html",{nav:'selfinfo'}){}%>
</body>
</html>