<%if(parent_id == '888888888888888888'){%>
	[{
		"text": "<a id='A888888888888888888' href='${ctx}/admin/cms/article/list/888888888888888888' target='articleRightFrame'>网站栏目</a>",
		"classes": "folder"
		<%if(topics!=null && topics.~size>0){%>
			,
			"expanded": true,
			"children": [
			<%for(topic in topics){%>
				{
				"id": "${topic.id}",
				<%if(topic.has_child){%>
					"text": "<a id='A${topic.id}' href='${ctx}/admin/cms/article/list/${topic.id}' target='articleRightFrame'>${topic.menu_name}</a>",
					"classes": "folder",
					"hasChildren":true
				<%}else{%>
					"text": "<a id='A${topic.id}' href='${ctx}/admin/cms/article/list/${topic.id}' target='articleRightFrame'>${topic.menu_name}</a>",
					"classes": "file",
					"hasChildren":false
				<%}%>
				}
				<%if(topicLP.size>topicLP.index){%>
					,
				<%}%>
			<%}%>
			]
		<%}%>
	}]
<%}else{%>
	<%if(topics!=null && topics.~size>0){%>
		[
			<%for(topic in topics){%>
			{
				"id": "${topic.id}",
				<%if(topic.has_child){%>
					"text": "<a id='A${topic.id}' href='${ctx}/admin/cms/article/list/${topic.id}' target='articleRightFrame'>${topic.menu_name}</a>",
					"classes": "folder",
					"hasChildren":true
				<%}else{%>
					"text": "<a id='A${topic.id}' href='${ctx}/admin/cms/article/list/${topic.id}' target='articleRightFrame'>${topic.menu_name}</a>",
					"classes": "file",
					"hasChildren":false
				<%}%>
			}
				<%if(topicLP.size>topicLP.index){%>
					,
				<%}%>
			<%}%>
		]
	<%}%>
<%}%>