<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>CMS文章管理</title>
<%include("resource/template/common/resource.html"){}%>
<script type="text/javascript" src="${ctx}/resource-injar/script?t=/plugin/datepicker/WdatePicker.js"></script>
<script type="text/javascript">
	function auditArticle(url){
		$.layer({
		    shade: [0.5, '#888'],
		    border: [0.2, 0.1, '#000'],
		    area: ['auto','auto'],
	    	title:'确定审核吗？',
		    dialog: {
		        msg: '确定要操作选择的记录吗？这将无法恢复。',
		        btns: 2,                    
		        type: 4,
		        btn: ['确定','取消'],
		        yes: function(index){
		        	layer.close(index);
		        	jQuery.ajax({
		        		url : url,
		        		type : "POST",
		        		success : function(result) {
		        			if (result.code == '0000') {
		        				pagination();
		        				popStatus(1, '操作成功！！！', 1);
		        			}else{
		        				popStatus(4, result.msg, 2);
		        			}
		        		}
		        	});
		        }, no: function(){
		            
		        }
		    }
		});
	}


</script>
</head>
<script id="tableContent" type="text/html">
	{{each dataList as row}}
		<tr>
			<td>
            	<span class="checkall" style="vertical-align:middle;">
                	<input id="id_{{row.id}}" type="checkbox" name="_ckid" value="{{row.id}}"/>
               	</span>
            </td>
            <td>{{row.id}}</td>
            <td title="{{row.title}}">{{row.title | subStr:'20'}}</td>
            <td class="tdleft">{{row.article_location | subStr:'20'}}</td>
            <td>{{row.create_user}}</td>
            <td>{{row.publish_time}}</td>
            <td>{{row.endtime}}</td>
			<td>{{row.status | decode:'0','待审核','1','审核通过', '2','审核不通过','3','禁止访问'}}</td>
			<td>{{row.i_top}}</td>
            <td>
				<a href="javascript:;" class="edit" onclick='fullWithBar("${ctx}/admin/cms/article/edit/{{row.id}}")'>修改</a>
				{{if row.status==0 }}
				 <a href="javascript:;" class="lock" onclick='auditArticle("${ctx}/admin/cms/article/audit/{{row.id}}-1")'>审核</a>
				 <a href="javascript:;" class="lock" onclick='auditArticle("${ctx}/admin/cms/article/audit/{{row.id}}-2")'>驳回</a>
				{{/if}}
				{{if row.type_id==1 }}
				<a href="${preview_ctx}{{row.article_location}}?ylflag=1" target="_blank" class="lock" >预览</a>
				{{else}}
				<a href="{{row.article_location}}" target="_blank" class="lock" >预览</a>
				{{/if}}
                <#permission url="/admin/cms/article/copyTo">
                     <li><a onclick="edit('${ctx}/admin/cms/article/copyTo/{{row.id}}')" id="btnCopy" class="edit" href="javascript:;"><i></i><span>复制到</span></a>
                     </li>
                </#permission> 
            </td>
         </tr>
	{{/each}}
</script>
<body class="mainbody">
        <div class="toolbar-wrap">
            <div id="floatHead" class="toolbar">
                <div class="l-list">
                    <ul class="icon-list">
                    <#permission url="/admin/cms/article/insert">
                        <li><a class="add" onclick='fullWithBar("${ctx}/admin/cms/article/add/${topicId}")' href="javascript:;"><i></i><span>新增</span></a>
                        </li>
                    </#permission>
                       <li><a class="all" href="javascript:;" onclick="checkAll(this);"><i></i><span>全选</span></a>
                       </li>
                    <#permission url="/admin/cms/article/delete">
                        <li><a onclick="del('${ctx}/admin/cms/article/delete')" id="btnDelete" class="del" href="javascript:;"><i></i><span>删除</span></a>
                        </li>
                    </#permission>
                    </ul>
                </div>
            </div>
            
                 <div class="searchbar">
          <div class="searchForm">
          <form id="search_form">
					<dl>
						<dt>标题：</dt>
						<dd>
							
						 <input class="input middle" name="title" type="text" style="width:133px;" id="title"/> 
						</dd>
					</dl>	
					<dl>
						<dt>审核状态：</dt>
						<dd>
							<select  id="status" name="status" search="-2"  class="js-example-basic-single" style="width: 100px;">
		   		      			  <option value="-1" selected="selected">请选择</option>
									<option value="0" >待审核</option>
									<option value="1" >审核通过</option>
									<option value="2" >审核不通过</option>
								  	
		   		      	    </select>
						</dd>
					</dl>	
					<dl>
						<dt style="width: 90px;">发布时间：</dt>
						<dd style="margin-left: 90px;">
		   		      	    <input type="text"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="input rule-date-input" id="publish_time_begin" name="publish_time_begin" />
							~
							 <input type="text"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="input rule-date-input" id="publish_time_end" name="publish_time_end" />
						</dd>
					</dl>	
					<dl>
						<dt>创建人：</dt>
						<dd>
							
						 <input class="input middle" name="create_user" type="text" style="width:133px;" id="create_user"/> 
						</dd>
					</dl>	
					<dl>
						<dt>修改人：</dt>
						<dd>
							
						 <input class="input middle" name="last_modify_user" type="text" style="width:133px;" id="last_modify_user"/> 
						</dd>
					</dl>	
					<dl>
						<dt>审核人：</dt>
						<dd>
							
						 <input class="input middle" name="audit_user" type="text" style="width:133px;" id="audit_user"/> 
						</dd>
					</dl>
					<dl>
						<dt>到期时间：</dt>
						<dd>
						 <input onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="input rule-date-input" name="endtime_begin" type="text"  id="endtime_begin"/>
						 ~ <input onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="input rule-date-input" name="endtime_end" type="text"  id="endtime_end"/>  
						</dd>
					</dl>						
				</form>
          </div>
          <div class="searchButton" style="float: right;margin-right: 60px;">
             <input id="searchBtn" class="btn" type="button" value="搜 索" />
             <input id="clearBtn" class="btn yellow" type="button" value="重 置" />
   		  </div>
		</div>
        </div>
        
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable" url="${ctx}/admin/cms/article/json/${topicId}">
            <tr>
                <th width="5%">选择</th>
                <th width="8%" sort="id">ID</th>
                <th sort="title">标题</th>
                <th width="20%">访问路径</th>
                <th sort="create_user" width="6%">发布者</th>
                <th sort="publish_time" width="12%">发布时间</th>
                <th sort="endtime" width="12%">到期时间</th>
                <th sort="status" width="6%">状态</th>
                 <th sort="status" width="6%">排序</th>
                <th width="15%">操作</th>
            </tr>
            <tbody id="tablelist"></tbody>
        </table>
        <div class="pagelist"></div>
</body>
</html>