<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>招聘信息明细</title>
<%include("resource/template/common/resource.html"){}%>
<script type="text/javascript" src="${ctx}/resource-injar/script?t=/plugin/datepicker/WdatePicker.js&version=2015120313"></script>
<script src="${ctx}/resource-injar/script?t=/plugin/kindeditor-4.1.10/kindeditor.js&version=2015120313"></script>
<script src="${ctx}/resource-injar/script?t=/plugin/kindeditor-4.1.10/lang/zh_CN.js&version=2015120313"></script>
<link rel="stylesheet" href="${ctx}/resource-injar/css?t=/plugin/kindeditor-4.1.10/themes/default/default.css&version=2015120313" />
<script type="text/javascript"
	src="${ctx}/static/plugin/datepicker/WdatePicker.js?version=2015120313" charset="utf-8"></script>
</head>
<body class="mainbody">
	<div class="content-tab-wrap">
		<div id="floatHead" class="content-tab">
			<div class="content-tab-ul-wrap">
				<ul>
					<li><a href="javascript:;" onclick="tabs(this);"
						class="selected">招聘信息明细</a></li>
				</ul>
			</div>
		</div>
	</div>
	<form id="data_form">
		<div class="tab-content">
			<input type="hidden" name="id" id="id" value="${ap.id}" />
			<input type="hidden" name="show_index" id="show_index" value="${ap.show_index}" />
			<input type="hidden" name="del_flag" id="del_flag" value="${ap.del_flag}" />
			<input type="hidden" name="create_date" id="create_date" value="${ap.create_date}" />
			<input type="hidden" name="create_by" id="create_by" value="${ap.create_by}" />
			<dl>
				<dt>岗位名称</dt>
				<dd>
				<input name="post_name" type="text" id="post_name" class="input normal"  value="${ap.post_name}"/>
					<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>岗位职称</dt>
				<dd>
				<input name="job_name" type="text" id="job_name" class="input normal"  value="${ap.job_name}"/>
					<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>工作地点</dt>
				<dd>
				<input name="post_city" type="text" id="post_city" class="input normal"  value="${ap.post_city}"/>
				</dd>
			</dl>
			<dl>
				<dt>学历要求</dt>
				<dd>
				<input name="degree" type="text" id="degree" class="input normal"  value="${ap.degree}"/>
				<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>经验要求</dt>
				<dd>
				<input name="experience" type="text" id="experience" class="input normal"  value="${ap.experience}"/>
				<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>招聘类型</dt>
				<dd>
					<td><select name="recruit_type" id="recruit_type" search="-1"
						class="js-example-basic-single"
						style="width: 100px; height: 34px;">
						 <%for(list in recruit!){%>
					<option  value="${list.name}" ${list.name == ap.recruit_type ?'selected':''}>${list.value}</option>
					<%}%>
					</select></td>
				</dd>
			</dl>
			<dl>
				<dt>招聘标题</dt>
				<dd>
					<td><select name="recruit_title" id="recruit_title" search="-1"
						class="js-example-basic-single"
						style="width: 100px; height: 34px;" value="{ap.recruit_title}">
							     <%for(list in tittletype!){%>
						<option  value="${list.name}" ${list.name == ap.recruit_type ?'selected':''}>${list.value}</option>
					<%}%>
					</select></td>
				</dd>
			</dl>
			<dl>
				<dt>部门</dt>
				<dd>
					<td><select name="dep_type" id="dep_type" search="-1"
						class="js-example-basic-single"
						style="width: 100px; height: 34px;" value="{ap.dep_type}">
							   <%for(list in department!){%>
					<option  value="${list.name}" ${list.name == ap.recruit_type ?'selected':''}>${list.value}</option>
					<%}%>
					</select></td>
				</dd>
			</dl>
			<dl>
				<dt>需求人数</dt>
				<dd>
				<input name="req_num" type="text" id="req_num" class="input normal"  value="${ap.req_num}"/>
				<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>岗位职责</dt>
				<dd>
					<textarea name="description" id="description" class="input normal">${ap.description}</textarea>
					<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>任职资格</dt>
				<dd>
					<textarea name="post_request" id="post_request" class="input normal">${ap.post_request}</textarea>
					<span id="Validform_checktip">*</span>
				</dd>
			</dl>
		</div>
	</form>
	<div class="page-footer">
		<div class="btn-list">
			<#permission url="/admin/position/update"> <input
				type="button" name="btnSubmit" value="确 认" id="btnSubmit"
				class="btn"
				onclick="Public.ajaxUpdate('${ctx}/admin/position/update')" />
			</#permission> <input name="btnReturn" type="button" value="取 消"
				class="btn yellow" onclick="Public.closeDialog();" />
		</div>
		<div class="clear"></div>
	</div>
</body>
</html>