<div class="footer">
  <div class="wrap">
    <div class="f-logo"> <img src="${ctxPath}/portal/pc/images/logo3.png" /> </div>
    <p class="link"><a class="aaa" href="http://www.piccamc.com/" target="_blank"><span class="l"></span>人保资产官网 <span class="r"></span></a><a class="aaa" href="https://e.piccamc.com/" target="_blank"><span class="l"></span>人保资产公募网上交易<span class="r"></span></a></p>
    <p class="txt t-center"><a href="${ctxPath}/pc/customer/riskLetter">风险提示函</a> 丨 <a href="${ctxPath}/pc/newsInfo/articleInfo?

id=1741&topicCode=tzzjxPage">投资人权益须知</a> 丨 <a href="${ctxPath}/pc/about/lxwm"> 联系我们</a> </p>
    <p class="f-ab"><a href="http://www.picc.com.cn/" target="_blank">人保集团</a> 丨 <a href="http://www.epicc.com.cn/" target="_blank" >人保财险</a> 丨 <a href="http://www.picchealth.com/" target="_blank">人保健康</a> 丨 <a href="http://www.picclife.com/" target="_blank">人保寿险</a></p>
    <p class="by t-center">中国人保资产管理有限公司版权所有 沪ICP备08010999号 </p>
  </div>
</div>