<div id="box_footer">
	<div id="box_footer_sub1">
		<div class="columnSpace"
			id="elem-FrontSpecifies_show01-1441964309042" >
			<div id="FrontSpecifies_show01-1441964309042"
				class="FrontSpecifies_show01-d3_c1">
				<div class="describe htmledit"> 
					<div style="width: 440px; height: 38px;">
						<div
							style="text-align: center; width: 210px; float: left; height: 21px; padding-top: 10px;">
							<!--<select name="select"
								onchange="javascript:window.open(this.options[this.selectedIndex].value)"
								style="width: 170px;"><option selected="selected"
									value="#">-----控股公司-----</option>
								<option value="http://hwachip.com/">上海金网通信技术发展有限公司</option>
								<option value="http://www.hwacreate-mw.com.cn/">北京华力睿源微波技术有限公司</option>
								<option value="http://www.highforever.com/index.asp">北京恒创开源科技发展有限公司</option>
								<option value="http://www.credit-top.com/">北京怡嘉行科技有限公司</option>
								<option value="http://www.tj-xince.com/">天津市新策电子设备科技有限公司</option>
								<option value="#">北京华力方元科技有限公司</option></select>-->
						</div>
						<div
							style="text-align: center; width: 210px; float: left; height: 21px; padding-top: 10px;">
							<!--<select name="select"
								onchange="javascript:window.open(this.options[this.selectedIndex].value)"
								style="width: 170px;"><option selected="selected"
									value="#">-----友情链接-----</option>
								<option value="http://www.beidou.gov.cn">北斗网</option>
								<option value="http://www.zpark.com.cn/">中关村软件园</option>
								<option value="http://www.glac.org.cn/">中国卫星导航定位协会</option>
								<option value="http://www.chinabeidou.gov.cn/">中国卫星导航定位应用管理中心</option></select>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="box_footer_sub2">
		<div id="box_footer_sub2_sub1">
			<div class="clearBoth"></div>
			<div  class="columnSpace"
				id="elem-FrontSpecifies_show01-1442192322425" >
				<div id="FrontSpecifies_show01-1442192322425"
					class="FrontSpecifies_show01-d3_c1">
					<div class="describe htmledit"> 
						<p>
							<span style="font-size: 12px;"><span
								style="margin-top: 5px; font-family: 微软雅黑, tahoma, arial, sans-serif; float: left;"><a
									href="javascript:void(0)"></a> 
									<a
									href="javascript:void(0)"></a>  
									<a href="javascript:void(0)"></a>   <a
									href="javascript:void(0)"></a><a
									href="javascript:void(0)"></a></span></span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="box_footer_sub2_sub2">
			<div  class="columnSpace"
				id="elem-FrontSpecifies_show01-1442195933820" >
				<div id="FrontSpecifies_show01-1442195933820"
					class="FrontSpecifies_show01-d3_c1">
					<div class="describe htmledit">
						<p>
							<span style="font-size: 12px;"><span
								style="margin-top: 5px; font-family: 微软雅黑, tahoma, arial, sans-serif; float: right;">上海金网通信技术发展有限公司
									© 2015,   沪ICP备18007508号
									号    <a href="http://www.miitbeian.gov.cn"
									target="_blank">沪ICP备18007508号</a>    <a
									href="http://www.goldnet.net.cn/manager/admin/console" target="_blank">后台管理</a>
							</span></span>
						</p>
<style type="text/css">
.FrontProducts_detail02-d1_c1 .detail .describe {
	color: #000;
	line-height: 2em;
}
</style>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
