<div class="main3 wrap">
 <!-- <div class="m3-box" style="width:15%"></div> -->
  <div class="m3-box">
    <h3 class="title">投资者权益保障</h3>
    <ul class="list">
      <li><a href="${ctxPath}/pc/customer/riskLetter">风险提示函</a></li>
      <li><a href="${ctxPath}/pc/newsInfo/articleInfo?id=1741&topicCode=tzzjxPage">投资人权益须知</a></li>
    </ul>
  </div>
  <div class="m3-box">
    <h3 class="title">新闻资讯</h3>
    <ul class="list">
      <!--  <li><a href="${ctxPath}/pc/newsInfo/newsList">新闻快报</a></li> -->
      <li><a href="${ctxPath}/pc/newsInfo/activitiesList">最新动态</a></li>
      <li><a href="${ctxPath}/pc/newsInfo/companynotices">公司公告</a></li>
      <li class="has-child">
        <div class="yybox"><a href="${ctxPath}/pc/newsInfo/adviseList">投资经纬</a>
          <ul class="child-list-box sss yl_top">
            <li><a href="${ctxPath}/pc/newsInfo/adviseList">投资观点</a></li>
            <li><a href="${ctxPath}/pc/newsInfo/managerWList">基金经理随笔</a></li>
          </ul>
        </div>
      </li>
      <li class="has-child">
        <div class="yybox"><a href="${ctxPath}/pc/newsInfo/informationdisclosure/quarterNewsList">信息披露</a>
          <ul class="child-list-box sss">
            <!--  <li><a href="${ctxPath}/pc/newsInfo/noticesList">基金公告</a></li> -->
            <li><a href="${ctxPath}/pc/newsInfo/informationdisclosure/quarterNewsList">定期报告</a></li>
            <!-- <li><a href="${ctxPath}/pc/newsInfo/informationdisclosure/yearNewsList">年报</a></li> -->
            <!-- <li><a href="${ctxPath}/pc/newsInfo/tempNoticeList">临时公告</a></li> -->
            <li><a href="${ctxPath}/pc/newsInfo/informationdisclosure/lawFileList">法律文件</a></li>
          </ul>
        </div>
      </li>
      <!-- <li><a href="${ctxPath}/pc/newsInfo/adviseList">投资建议</a></li> -->
    </ul>
  </div>
<div class="m3-box">
    <h3 class="title">产品专区</h3>
    <ul class="list">
      <!-- index-全部:0; 混合:2; 债券:3; 货币:4; ETF:5; 股票:6 -->
      <li><a href="${ctxPath}/pc/product?index=0">全部</a></li>

      
      <!-- <li><a href="${ctxPath}/pc/product?index=3">债券型</a></li>
      <li><a href="${ctxPath}/pc/product?index=6">股票型</a></li>
      <li><a href="${ctxPath}/pc/product?index=5">ETF型</a></li>
      <li><a href="${ctxPath}/pc/product?index=2">混合型</a></li> -->
    </ul>
  </div>
  <div class="m3-box">
    <h3 class="title">客户服务</h3>
    <ul class="list">
      <li class="has-child">
        <div class="yybox"><a href="${ctxPath}/pc/customer/dhfw">服务介绍</a>
          <ul class="child-list-box sss">
            <li><a href="${ctxPath}/pc/customer/dhfw">电话服务</a></li>
            <!-- <li><a href="${ctxPath}/pc/customer/dxfw">短信服务</a></li> -->
            <li><a href="${ctxPath}/pc/customer/yjfw">邮件服务</a></li>
          </ul>
        </div>
      </li>
      <!-- <li><a href="#">常见问题</a></li> -->
      <li><a href="${ctxPath}/pc/customer/financeList">投资理财</a></li>
      <li><a href="${ctxPath}/pc/customer/xzfw">下载服务</a></li>
      <li><a href="${ctxPath}/pc/customer/bzzx">帮助中心</a></li>
      <!-- <li><a href="${ctxPath}/pc/about/lxwm">联系我们</a></li> -->
      <li><a href="${ctxPath}/pc/customer/tsyjx">投诉与建议</a></li>
      <li><a href="${ctxPath}/pc/customer/tzzjx">投资者教育</a></li>
    </ul>
  </div>
  <div class="m3-box noborder">
    <h3 class="title">关于我们</h3>
    <ul class="list">
      <li><a href="${ctxPath}/pc/about/gsjj">公司简介</a></li>
      <li><a href="${ctxPath}/pc/about/zczc">总裁致辞</a></li>
      <li><a href="${ctxPath}/pc/about/djzl">党建专栏</a></li>
      <li><a href="${ctxPath}/pc/about/tzln">投资理念</a></li>
      <li><a href="${ctxPath}/pc/about/zxdt">大 事 记</a></li>
      <li><a href="${ctxPath}/pc/about/tdfc">团队风采</a></li>
      <li><a href="${ctxPath}/pc/about/zxns">招贤纳士</a></li>
      <li><a href="${ctxPath}/pc/about/lxwm">联系我们</a></li>
    </ul>
  </div>
  <div class="clear"> </div>
</div>