<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!-- 人保的logo -->
<link rel="shortcut icon" href="${ctxPath}/portal/pc/img/icon20161102.png" type="image/x-icon" />
<title>
${topic.meta_title}</title>
<meta name="keywords" content="${topic.meta_keywords}">
<meta name="description" content="${topic.meta_desc}" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />


