 
    <link href="${ctxPath}/portal/pc/css/style.css" rel="stylesheet" type="text/css" />
    
    <link href="${ctxPath}/portal/pc/css/yl-ui-banner.css" rel="stylesheet" type="text/css" />
 
	<script src="${ctxPath}/portal/pc/js/jquery-1.11.3.min.js"></script>
   
    <script src="${ctxPath}/portal/pc/js/M-v1.0.3.min.js"></script>
    
    <script src="${ctxPath}/portal/pc/js/M-v1.0.9.min.js"></script>
   
    <script src="${ctxPath}/portal/pc/js/M.public.js"></script> 
    
    <script src="${ctxPath}/portal/pc/js/yl-ui-banner.js"></script>
    
    <script src="${ctxPath}/portal/pc/js/WdatePicker/calendar.js"></script>
    
    <script src="${ctxPath}/portal/pc/js/highcharts.js"></script>
    
    <script src="${ctxPath}/portal/pc/js/fundnav.js"></script> 
    
    <script src="${ctxPath}/portal/pc/js/sort.js"></script>
    <script src="${ctxPath}/portal/pc/js/WdatePicker/WdatePicker.js"></script>
    <link href="${ctxPath}/portal/pc/css/css-2017-3-39.css" rel="stylesheet" type="text/css" />
    <link href="${ctxPath}/portal/pc/css/add.css" rel="stylesheet" type="text/css" />
    
    <script>
    	var ctxRoot="${ctxPath}"; 
    </script>
    