<div class="header" m-main="index">
  <div class="wrap">
    <div class="left"> <span class="hover_ffb567" onclick="window.open('http://www.piccamc.com')">人保资产</span> 丨<span 
onclick="window.open('https://e.piccamc.com')" class="hover_ffb567"> 网上交易

</span>  </div>
    <div class="right">
      <ul class="topRightBox">
        <li>
          <h6 class="title"><img src="${ctxPath}/portal/pc/images/yl_02.png" />官方微信</h6>
          <div class="code" style="left:-50px;"> <img style="width:148px;height:148px;" src="${ctxPath}/portal/pc/images/erweim_03.png" /> </div>
        </li>
        <!-- <li>
          <h6 class="title"><img src="${ctxPath}/portal/pc/images/yl_04.png"/>ios客户端</h6>
          <div class="code"> <img src="${ctxPath}/portal/pc/images/erweim_03.png" /> </div>
        </li>
        <li>
          <h6 class="title"><img src="${ctxPath}/portal/pc/images/yl_06.png"/>Android客户端</h6>
          <div class="code"> <img src="${ctxPath}/portal/pc/images/erweim_03.png" /> </div>
        </li> -->
      </ul>
      <!-- <div class="right2"> <span class="hover_ffb567">登录</span>丨<span class="hover_ffb567"> 开户</span> </div> -->
    </div>
  </div>
</div>
<div class="top wrap">
  <div class="logo"  style=" width: 475px; position: relative;"> <a href="${ctxPath}/"><img src="${ctxPath}/portal/pc/images/logo1.png" alt="logo" style=" 

width: 320px; height: auto;" /></a>  <span onclick="window.location.href='${ctxPath}/'" style="position: absolute;top: 16px;font-size: 16px; color: 

#666;cursor: pointer;">  |  公募基金官方网站</span> 
  </div>  
 <!--  <div class="pic"> <img src="${ctxPath}/portal/pc/images/yl_12.png" /> </div> -->
  <div class="t-right">
    <div class="tel"> <img style="right:165px;" src="${ctxPath}/portal/pc/images/yl_15.png" /><span class="tel-num c-f22c2c">400-820-7999</span> </div>
    <div class="nav"> 
      <ul class="nav-list">    
        <li ${flag =="index"?'class="on"':''} ><a href="${ctxPath}/pc/index">首页</a></li>
        <li ${flag =="news"?'class="on"':''} ><a href="${ctxPath}/pc/newsInfo/activitiesList">新闻资讯</a></li>
        <li ${flag =="product"?'class="on"':''} ><a href="${ctxPath}/pc/product">产品专区</a></li>
        <li ${flag =="service"?'class="on"':''} ><a href="${ctxPath}/pc/customer/dhfw">客户服务</a></li>
		<li ${flag =="abouts"?'class="on"':''} ><a href="${ctxPath}/pc/about/gsjj">关于我们</a></li>
      </ul> 
    </div>
  </div>
</div>

<script language='javascript'>
/*   $(".nav-list li").removeClass("on");
  $(".nav-list li").each(function(index){
     if("${flag}"==index){  
	    $(".nav-list li:eq("+index+")").addClass("on");    
     }
  }); */
</script> 