<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>用户操作日志列表</title>
<%include("resource/template/common/resource.html"){}%>
</head>
<script id="tableContent" type="text/html">
	{{each dataList as row}}
		<tr>
			<td>
            	<span class="checkall" style="vertical-align:middle;">
                	<input id="id_{{row.id}}" type="checkbox" name="_ckid" value="{{row.id}}"/>
               	</span>
            </td>
            <td>{{row.mobile_tel}}</td>   
			<td>{{row.opt_type}}</td>       
			<td>{{row.opt_content}}</td>    
			<td>{{row.loglevel}}</td>    
			<td>{{row.log_time}}</td>
            <td>{{row.id_no}}</td>
			<td>{{row.id_kind_gb | propertiesVal:'certificationtype_list'}}</td>
			<td>{{row.old_mobile_tel}}</td>
			<td>{{row.ip}}</td>
         </tr>
	{{/each}}
</script>
<body class="mainbody">
	      <div id="floatHead" class="toolbar">
                <div class="l-list">
                    <ul class="icon-list">
                    <#permission url="/admin/sys/userlog/delete">
                       <li><a class="all" href="javascript:;" onclick="checkAll(this);"><i></i><span>全选</span></a>
                       </li>
                       <li><a onclick="del('${ctx}/admin/sys/userlog/delete')" id="btnDelete" class="del" href="javascript:;"><i></i><span>删除</span></a>
                       </li>
                    </#permission>
                    </ul>
                </div>
            </div>
          <div class="searchbar">
          <div class="searchForm">
          <form id="search_form">
			<dl>
				<dt>手机号</dt>
				<dd>
					<input type="text" class="input normal big" id="mobile_tel" name="mobile_tel"/>
				</dd>
			</dl>
			</form>
          </div>
          <div class="searchButton">
             <input id="searchBtn" class="btn" type="button" value="搜 索" />
             <input id="clearBtn" class="btn yellow" type="button" value="重 置" />
   		  </div>
		</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable" url="${ctx}/admin/sys/userlog/json">
            <tr>
                 <th>选择</th>
                <th sort="mobile_tel">手机号</th>
                <th sort="opt_type">操作类型</th>
                <th >操作内容</th>
                <th sort="loglevel">操作结果</th>
                <th sort="log_time">发生时间</th>
                <th sort="id_no">证件号码</th>
                <th sort="id_kind_gb">证件类型</th>
                <th sort="old_mobile_tel">旧手机</th>
                <th sort="ip">ip</th>
            </tr>
            <tbody id="tablelist"></tbody>
        </table>
        <div class="pagelist"></div>
</body>
</html>