<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>快速新增资源</title>
<%include("resource/template/common/resource.html"){}%>
</head>
<script type="text/javascript">
function ajaxInsert(url){
	var idx = loading('操作中。。。');
	jQuery.ajax({
		url  : url,
		data : $('#data_form').serialize(),
		type : "POST",
		success : function(result) {
			layer.close(idx);
			if (result.code == '0000') {
				parent.success('新增成功！！！');
				Public.closeDialog();
			}else if (result.errMsg) {
				$("span[id='Validform_checktip']").each(function() {
					$(this).html('');
					$(this).attr("class", "Validform_right");
				});
				$.each(result.errMsg, function(tag, msg) {
					$obj = $("#" + tag).next('span');
					$obj.attr("class", "Validform_wrong");
					$obj.html(msg);
				});
			}else{
				popStatus(4, result.msg, 2);
			}
		}
	});
}


</script>
<body class="mainbody">
		<div class="content-tab-wrap">
			<div id="floatHead" class="content-tab">
				<div class="content-tab-ul-wrap">
					<ul>
						<li><a href="javascript:;" onclick="tabs(this);"class="selected">资源基本信息</a></li>
					</ul>
				</div>
			</div>
		</div>
		<form id="data_form">
		<div class="tab-content">
			<dl>
				<dt>资源名称</dt>
				<dd>
					<input name="name" type="text" id="name" class="input normal"/>
					<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>URL</dt>
				<dd>
					<input name="url" id="url" type="text" class="input normal"/>
					<span id="Validform_checktip">*</span>
				</dd>
			</dl>
		</div>
		</form>
		<div class="page-footer">
			<div class="btn-list">
			<#permission url="/admin/sys/resource/insert/quick">
				<input type="button" name="btnSubmit" value="确 认" id="btnSubmit" class="btn" onclick="ajaxInsert('${ctx}/admin/sys/resource/insert/quick')"/>
			</#permission>
				<input name="btnReturn" type="button" value="取 消" class="btn yellow" onclick="Public.closeDialog();" />
			</div>
			<div class="clear"></div>
		</div>
</body>
</html>