<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>拷贝文章</title>
<%include("resource/template/common/resource.html"){}%>
<script type="text/javascript" src="${ctx}/resource-injar/script?t=/plugin/datepicker/WdatePicker.js"></script>
<script src="${ctx}/resource-injar/script?t=/plugin/kindeditor-4.1.10/kindeditor.js"></script>
<script src="${ctx}/resource-injar/script?t=/plugin/kindeditor-4.1.10/lang/zh_CN.js"></script>
<link rel="stylesheet" href="${ctx}/resource-injar/css?t=/plugin/kindeditor-4.1.10/themes/default/default.css" />
</head>
<script type="text/javascript">
$(function(){
	$(".js-example-basic-multiple").select2();
});
function dlhidden(){
    $("input[name='pro_idsarr']").prop("checked",true);
	$("#artaddpro").hide();
}
function dlshow(){
	$("input[name='pro_idsarr']").prop("checked",true);
	$("#artaddpro").show();
}
//取消关联所有的产品
function dlshow2(){
   $("input[name='pro_idsarr']").prop("checked",false);
   $("#artaddpro").show();
}
//根据输入的产品名称动态查询产品列表
function showProTables(){
	$("#pro_tables").empty();
	var url="${ctx}/admin/cms/article/queryProByName";
	$("#pro_name").val($("#pro_name_base").val());
	var idx = loading('操作中。。。');
	var tr;//创建tr节点
	jQuery.ajax({
		url  : url,
		data : $('#pro_name_form').serialize(),
		type : "POST",
		success : function(result) {
			layer.close(idx);
			if (result.code == '0000') {
				//popStatus(1, '清理成功！！！', 1);
				var data=result.data;
				for(var i=0;i<data.length;i++){
					var record=data[i];
					var td='<td><input name="pro_idsarr" type="checkbox" value="'+record.pro_id+'" />&nbsp;'+record.pro_shortname+'&nbsp;&nbsp;</td>';
					if(i%3==0){//new tr include 3 td
						tr = document.createElement('tr');//创建tr节点
						$("#pro_tables").append(tr);
					}
					$(tr).append(td);
				}
			}else{
				popStatus(4, result.msg, 2);
			}
		},error:function(){
			popStatus(4, "查询异常", 2);
		}
	});
}

var CTX = '${ctx}';
String.prototype.startWith=function(s){
	if(s==null||s==""||this.length==0||s.length>this.length)
		return false;
	if(this.substr(0,s.length)==s)
		return true;
	else
		return false;
	return true;
}
KindEditor.ready(function(K) {
	var editor1 = K.create('textarea[name="content"]', {
		allowFileManager : true,
		allowFlashUpload : true,
		allowMediaUpload : true,
		allowFileUpload : true,
		uploadJson : '${ctx}/admin/sys/file/upload',
		fileManagerJson : '${ctx}/admin/sys/file/list',
		afterBlur: function(){this.sync();}
	});
	
	var editor = K.editor({
		allowFileManager : true,
		themeType: "simple",
		uploadJson : '${ctx}/admin/sys/file/upload',
		fileManagerJson : '${ctx}/admin/sys/file/list'
	});
	
	K('#select_big_image').click(function() {
		editor.loadPlugin('smimage', function() {
			editor.plugin.imageDialog({
				clickFn : function(url, title, width, height, border, align) {
					if (K('#image_show_big')) {
						if(url.startWith("http://")||url.startWith("https://")){
							 K('#image_show_big').attr('src', url);
							 K('#big_picurl').val(url);
						}else{
							 K('#image_show_big').attr('src', CTX+url);
							 K('#big_picurl').val(CTX+url);
						}
						 K('#image_show_big').show();
					}
					editor.hideDialog();
				}
			});
		});
	});
	K('#select_small_image').click(function() {
		editor.loadPlugin('smimage', function() {
			editor.plugin.imageDialog({
				clickFn : function(url, title, width, height, border, align) {
					if (K('#image_show_small')) {
						if(url.startWith("http://")||url.startWith("https://")){
							 K('#image_show_small').attr('src', url);
							 K('#small_picurl').val(url);
						}else{
							 K('#image_show_small').attr('src', CTX+url);
							 K('#small_picurl').val(CTX+url);
						}
						 K('#image_show_small').show();
					}
					editor.hideDialog();
				}
			});
		});
	});
});

</script>
<script type="text/javascript" charset="utf-8" src="${ctx}/resource-injar/script?t=/plugin/webuploader/webuploader.min.js"></script>
<script type="text/javascript" charset="utf-8" src="${ctx}/resource-injar/script?t=/plugin/webuploader/upload.js"></script>
<script>
function loadimg(paramkey){
	var imgid = "#"+paramkey+"_upload-img";
	$(imgid).InitUploader({btntext:'选择文件...',sendurl: "${ctx}/admin/sys/file/upload", swf: "${ctx}/resource-injar/swf?t=/plugin/webuploader/Uploader.swf",paramkeyname:paramkey});
}
function uploadError(data){
	popStatus(2, data.message, 2);
}
function uploadSuccess(data,paramkey){
	$("#"+paramkey).html(data.http_url);
	//$("#"+paramkey+"_http_url").attr('src',"${ctx}"+data.http_url); 
}


function ajaxCopy(url){
	var topicIds=$("#topicIds").val();
	if(topicIds==""){
		popStatus(4, "请选择栏目", 2);
		return false;
	}
	var idx = loading('操作中。。。');
	jQuery.ajax({
		url  : url,
		data : $('#data_form').serialize(),
		type : "POST",
		success : function(result) {
			layer.close(idx);
			if (result.code == '0000') {
				parent.pagination();
				parent.popStatus(1, '拷贝成功！！！', 1);
				Public.closeDialog();
			}else if (result.errMsg) {
				$("span[id='Validform_checktip']").each(function() {
					$(this).html('');
					$(this).attr("class", "Validform_right");
				});
				$.each(result.errMsg, function(tag, msg) {
					$obj = $("#" + tag).next('span');
					$obj.attr("class", "Validform_wrong");
					$obj.html(msg);
				});
			}else{
				popStatus(4, result.msg, 2);
			}
		}
	});
}
</script>
 <script type="text/javascript">
     function addDateDay(days){ 
       var d=new Date(); 
	   var seperator1 = "-";
       var seperator2 = ":";
       //var strDate=d.getDate()+days; 
	   d.setDate(d.getDate()+days); 
	   var strDate = d.getDate();
       var m=d.getMonth()+1; 
	   if (m >= 1 && m <= 9) {
				m = "0" + m;
		}
		if (strDate >= 0 && strDate <= 9) {
			strDate = "0" + strDate;
		}
       return d.getFullYear()+seperator1+m+seperator1+strDate+" "+getFormatDate(d.getHours())+seperator2+ getFormatDate(d.getMinutes())
            + seperator2 + getFormatDate(d.getSeconds()); 
     } 

	  function addDateMonth(months){ 
       var d=new Date(); 
	   var seperator1 = "-";
       var seperator2 = ":";
	   d.setMonth(d.getMonth() + months);
       var strDate=d.getDate(); 
       var m=d.getMonth()+1; 
	  
	   if (m >= 1 && m <= 9) {
				m = "0" + m;
		}
		if (strDate >= 0 && strDate <= 9) {
			strDate = "0" + strDate;
		}
       return d.getFullYear()+seperator1+m+seperator1+strDate+" "+getFormatDate(d.getHours())+seperator2+ getFormatDate(d.getMinutes())
            + seperator2 + getFormatDate(d.getSeconds()); 
     } 

 // 日期月份/天的显示，如果是1位数，则在前面加上'0'
        function getFormatDate(arg) {
            if (arg == undefined || arg == '') {
                return '00';
            }

            var re = arg + '';
            if (re.length < 2) {
                re = '0' + re;
            }

            return re;
        }
     
      function addDate(val){
    	  var endtime="";
    	  if(val=="1"){
    		  endtime=addDateMonth(1);
    	  }else if(val=="2"){
    		  endtime=addDateMonth(3);
    	  }else if(val=="3"){
    		  endtime=addDateMonth(12);
    	  }
    	  $("#endtime").val(endtime);
      }
  </script>
<body class="mainbody">
		<div class="content-tab-wrap">
			<div id="floatHead" class="content-tab">
				<div class="content-tab-ul-wrap">
					<ul>
						<li><a href="javascript:;" onclick="tabs(this);"class="selected">拷贝到栏目下</a></li>
					</ul>
				</div>
			</div>
		</div>
		<form id="data_form">
		  <input type="hidden" id="id" name="id" value="${id}"/>
		<div class="tab-content">
			<dl>
				<dt>所属栏目</dt>
				<dd>
					<select class="js-example-basic-multiple" multiple="multiple" style="width: 70%" name="topicIds" id="topicIds">
				  	  <option value="" disabled="disabled" >请选择栏目</option>
					  <%for(topic in topics){%>
					  	<option value="${topic.id}" ${vo.topic_id==topic.id?'disabled':''}>${topic.name}-->${topic.location}</option>
					  <%}%>
					</select><input type="hidden" name="topic_id" id="topic_id" value="000000000000000000"/>
					<input type="hidden" id="topic_id_tip"/><span id="Validform_checktip"></span>
				</dd>
			</dl>
			
		</div>


		</form>
		<form id="pro_name_form" name="pro_name_form">
		   <input type="hidden" name="pro_name" id="pro_name" />
		</form>
		<div class="page-footer">
			<div class="btn-list">
			<#permission url="/admin/cms/article/copyTo">
				<input type="button" name="btnSubmit" value="确 认" id="btnSubmit" class="btn" onclick="ajaxCopy('${ctx}/admin/cms/article/copy')"/> 
            </#permission>
				<input name="btnReturn" type="button" value="取 消" class="btn yellow" onclick="Public.closeDialog();" />
			</div>
			<div class="clear"></div>
		</div>
</body>
</html>