  <div id="box_main"> 
        <!--InstanceBeginEditable name="box_main"-->  
        <div id="box_main_sub1"> 
          <div id="box_main_sub1_sub1"> 
            <div id="box_main_sub1_sub1_sub1"> 
              <div class="clearBoth"></div>  
              <div xmlns="" class="columnSpace" id="elem-FrontColumns_navigation01-1442996227449" name="栏目导航">  

<!-- 装饰器样式开始 -->
<div class="border_02"> 
  <div class="border_02-topr">
    <div class="border_02-topl">
    </div>
  </div>
  <div class="border_02-mid">
      <div class="borderContent"><div id="FrontColumns_navigation01-1442996227449" class="FrontColumns_navigation01-d3_c1"><div class="comptitle_02"><strong class="titlestyle_02">关于我们</strong></div><ul class="nav-first">
			<li id="columns117" class="first">
					<a href="${ctxPath}/about" title="联系方式" class="hover" >
						<span>联系方式</span>
					</a> 
					</li>
			<li id="columns118" >
					<a href="${ctxPath}/companyadress" title="公司地址">
						<span>公司地址</span>
					</a> 
					</li>
			<li class="last"></li>
		</ul>
		</div>
	  <div class="clearBoth"></div></div>
  </div>
</div>
<!-- 装饰器样式结束 --> 
              </div>
            </div>  
            <div id="box_main_sub1_sub1_sub2"> 
              <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1442222513547" name="说明页">  
                <div id="FrontSpecifies_show01-1442222513547" class="FrontSpecifies_show01-d3_c1"><div class="describe htmledit">
       <p>
	　</p></div>
</div> 
              </div>
            </div> 
          </div>  
          <div id="box_main_sub1_sub2" style="float: right;width: 934px;"> 
            <div xmlns="" class="columnSpace" id="elem-FrontComContent_detail01-144222249682001" name="通用内容详细信息">  
              <!-- 装饰器样式开始 -->
<div class="border_03">
  <div class="border_03-topr">
    <div class="border_03-topl">
    </div>
  </div>
  <div class="border_03-mid">
      <div class="borderContent"><div id="FrontComContent_detail01-144222249682001" class="FrontComContent_detail01-d1_c1"><div class="comptitle_03"><strong class="titlestyle_03">联系方式</strong></div><div class="content">
  	<div class="describe htmledit">
  		<div class="FrontComContent_detail01-144222249682001_htmlbreak" id="FrontComContent_detail01-144222249682001_cont_1"
				style="display: block;"><p>
	 </p>
<#article_content id='46';content>
			${content}
		 </#article_content>

</div>
		</div>
  </div>
  </div>
	  <div class="clearBoth"></div></div>
  </div>
  <div class="border_03-footerr">
    <div class="border_03-footerl"></div>
  </div>
</div>
<!-- 装饰器样式结束 --> 
            </div>
          </div>  
          <div class="clearBoth"></div> 
        </div>  
        <div id="box_main_sub2"></div>  
        <!--InstanceEndEditable--> 
      </div>  