<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>栏目列表管理</title>
<%include("resource/template/common/resource.html"){}%>
</head>
<script type="text/javascript">
	function save_idx(){
		var temp='';
		$("input[name='idx']").each(function(){
			temp +=$(this).attr("id")+'-'+$(this).val()+'|';
		});
		$.layer({
			shade: [0.5, '#888'],
			border: [0.2, 0.1, '#000'],
			area: ['auto','auto'],
			title:'确定删除吗？',
			dialog: {
				msg: '确定要保存排列顺序吗？这将无法恢复。',
				btns: 2,                    
				type: 4,
				btn: ['确定','取消'],
				yes: function(index){
					layer.close(index);
					jQuery.ajax({
						url : '${ctx}/admin/cms/topic/save_idx',
						type : "POST",
						data : {'idxs':temp},
						success : function(result) {
							if (result.code == '0000') {
								parent.location.reload();
								popStatus(1, result.msg, 1);
							}else{
								popStatus(4, result.msg, 2);
							}
						}
					});
				}, no: function(){
					
				}
			}
		});
	}
	
	function success(msg){
		var leftFrame = parent.document.getElementById('leftFrame').contentWindow;
		leftFrame.document.getElementById('A630970895012982784').click();
	}
	
</script>
<body class="mainbody">
	<div class="toolbar-wrap">
            <div id="floatHead" class="toolbar">
                <div class="l-list">
                    <ul class="icon-list">
                    <#permission url="/admin/cms/topic/insert">
                        <li>
                        	<a class="add" onclick="fullWithBar('${ctx}/admin/cms/topic/add/${parent_id}');" href="javascript:;"><i></i><span>新增</span></a>
                        </li>
                    </#permission>
                        <#permission url="/admin/cms/topic/delete">
                        <li><a onclick="del('${ctx}/admin/cms/topic/delete')" id="btnDelete" class="del" href="javascript:;"><i></i><span>删除</span></a></li>
                        </#permission>
						<#permission url="/admin/cms/topic/save_idx">
                        <li><a class="add" onclick="save_idx()" href="javascript:;"><i></i><span>保存排列排序</span></a>
                        </#permission>
                        </li>
                    </ul>
                </div>
            </div>
    </div>

	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
        <thead>
          <tr>
            <th width="3%"></th>
            <th width="15%">栏目名称</th>
            <th width="10%">栏目代码</th>
            <th width="35%">访问路径</th>
            <th width="5%">排序</th>
            <th width="5%">显示</th>
            <th width="12%">修改时间</th>
            <th width="8%">访问次数</th>
            <th width="8%"></th>
          </tr>
        </thead>
        <tbody id="tablelist">
        	<%for(topic in topics){%>
        		<tr>
        		<td>
            	<span class="checkall" style="vertical-align:middle;">
                	<input id="id_${topic.id}" type="checkbox" name="_ckid" value="${topic.id}"/>
               	</span>
            	</td>
	            <td>${topic.name}</td>
	            <td>${topic.code}</td>
	            <td class="tdleft">${topic.location}</td>
            	<td><input name="idx" id="${topic.id}" type="text" class="input normal" value="${topic.idx}" style="width: 38px; text-align: center;"/></td>
            	<td>${topic.is_show =='1'?'是':'否'}</td>
            	<td>${topic.last_modify_time!topic.create_time}</td>
            	<td>${topic.last_modify_time}</td>
            	<td>
            	<#permission url="/admin/cms/topic/edit">
            		<a href="javascript:;" class="icon-btn edit" onclick="fullWithBar('${ctx}/admin/cms/topic/edit/${topic.id}')"><i></i><span>修改</span></a>
            	</#permission>
            	</td>
          	</tr>
        	<%}%>
        </tbody>
      </table>
</body>
</html>