<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="x5-page-mode" content="no-title">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="no"/>
<title>500</title>
<%include("/h5/common/assets.html"){}%>
</head>
<script type="text/javascript">
function IsPC() { 
    var userAgentInfo = navigator.userAgent;
    var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
    var flag = true;
    for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
        }
    }
    return flag;
}
var flag = IsPC(); //true为PC端，false为手机端
function goto500(){
	if(flag){
		window.location.href="${ctxPath}/pc/500";
	}
}
window.onload=goto500();
</script>
<body>
<m m-main=""></m>
<header class="header">
		<div class="wrap">
				<h1 class="title"><a class="t-left" href="javascript:history.back(-1);"><img src="${ctxPath}/portal/h5/images/top-left_03.png"></a><span class="txt">500</span></h1>
		</div>
</header>
<div class="main wrap nofooter">
		<div class="yl-404 yl-zhuan3">
				<div class="img">
						<img class="" src="${ctxPath}/portal/h5/images/500.png">
				</div>
				<div class="btn">
					<a href="${ctxPath}/h5/capital/mycapital" class="btn1">我的资产</a>
					<a href="${ctxPath}/h5/product/fundlist" class="btn2">购买基金</a>
				</div>
		</div>
</div>
<!--<footer class="footer">
  <div class="wrap">
    <nav class="footer-nav"> <a class="nav-index on" href="#">首页</a><a class="nav-club" href="#">基金俱乐部</a><a class="nav-asset" href="#">我的资产</a><a class="nav-my" href="#">我的</a> </nav>
  </div>
</footer>-->
</body>
</html>
