<script src="${ctxPath}/portal/h5/js/jquery-2.2.4.min.js"></script>
<script src="${ctxPath}/portal/h5/js/swiper-3.3.1.jquery.min.js"></script>
<script src="${ctxPath}/portal/h5/js/M-v1.0.3.min.js"></script>
<script src="${ctxPath}/portal/h5/js/M-public.js"></script>
<link rel="stylesheet" type="text/css" href="${ctxPath}/portal/h5/css/swiper-3.3.1.min.css" />
<link rel="stylesheet" type="text/css" href="${ctxPath}/portal/h5/css/style.css" />
<script>
	var ctx="${ctxPath}";
	//格式化日期 
	Date.prototype.format = function(format) {
		 var o = {
		  "M+" : this.getMonth() + 1, // month
		  "d+" : this.getDate(), // day
		  "h+" : this.getHours(), // hour
		  "m+" : this.getMinutes(), // minute
		  "s+" : this.getSeconds(), // second
		  "q+" : Math.floor((this.getMonth() + 3) / 3), // quarter
		  "S" : this.getMilliseconds()
		 }
		 if (/(y+)/.test(format))
		  format = format.replace(RegExp.$1, (this.getFullYear() + "")
		    .substr(4 - RegExp.$1.length));
		 for ( var k in o)
		  if (new RegExp("(" + k + ")").test(format))
		   format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k]
		     : ("00" + o[k]).substr(("" + o[k]).length));
		 return format;
	}
</script>