<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="x5-page-mode" content="no-title">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="no"/>
<title>我的资产-普通取现</title>
<%include("/h5/common/assets.html"){}%>
</head>

<body>
<header class="header">
  <div class="wrap">
    <h1 class="title"><a class="t-left" href="javascript:history.back(-1);"><img src="${ctxPath}/portal/h5/images/top-left_03.png"></a><span class="txt">取现</span></h1>
  </div>
</header>
<div class="main wrap nofooter">
  <div class="g-box188">账户可取余额：12,767.00元</div>
  <div class="g-box54">
    <div class="g-checkbox2 g-m-t60">
      <h6 class="title">取现方式</h6>
      <div class="list g-m-t70">
        <p class="p">
          <label>
            <input class="m-checkbox" name="" type="checkbox" value="">
            快速取现</label>
        </p>
        <p class="p">
          <label>
            <input class="m-checkbox" name="" type="checkbox" value="" checked>
            普通取现</label>
        </p>
      </div>
    </div>
    <div class="g-inputBox g-m-t70">
      <h6 class="title"><span class="name">取现金额（元）</span><span class="info"><img class="icon" src="${ctxPath}/portal/h5/images/idc2_03.png">全部取出</span><span class="g-emsg">未结转收益将一并带出</span></h6>
      <div class="g-inputDiv"> <span class="g-input-span">
        <input class="g-input" type="text" placeholder="最多200.12" value="">
        </span> </div>
    </div>
    <div class="g-inputBox g-m-t60">
      <h6 class="title"><span class="name">赎回至</span></h6>
      <div class="g-inputDiv">
        <div class="g-input-span m-selectBox">
          <select m-select="m" class="m-select" name="">
            <option value="1">农业银行 尾号8933</option>
            <option value="1">人保宝1</option>
            <option value="1">人保宝2</option>
            <option value="1">人保宝3</option>
          </select>
        </div>
      </div>
    </div>
    <div class="g-inputBox g-m-t60">
      <h6 class="title"><span class="name">遇到巨额赎回时</span></h6>
      <div class="g-inputDiv">
        <div class="g-input-span m-selectBox">
          <select m-select="m" class="m-select" name="">
            <option value="1">部分赎回</option>
            <option value="1">部分赎回1</option>
            <option value="1">部分赎回2</option>
            <option value="1">部分赎回3</option>
          </select>
        </div>
      </div>
    </div>
    <a class="g-btns g-submit g-m-t70" href="#">下一步</a>
    <div class="bottom-e-msg">赎回份额不能为空</div>
  </div>
</div>
<!--<footer class="footer">
  <div class="wrap">
    <nav class="footer-nav"> <a class="nav-index" href="#">首页</a><a class="nav-club" href="#">基金俱乐部</a><a class="nav-asset on" href="#">我的资产</a><a class="nav-my" href="#">我的</a> </nav>
  </div>
</footer>-->
</body>
</html>
