<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="x5-page-mode" content="no-title">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="no"/>
<title>课程介绍</title>
<script src="${ctxPath}/portal/h5/activity/js/jquery-2.2.4.min.js"></script>
<script src="${ctxPath}/portal/h5/activity/js/swiper-3.3.1.jquery.min.js"></script>
<script src="${ctxPath}/portal/h5/activity/js/M-v1.0.3.min.js"></script>
<script src="${ctxPath}/portal/h5/activity/js/M-public.js"></script>
<link rel="stylesheet" type="text/css" href="${ctxPath}/portal/h5/activity/css/swiper-3.3.1.min.css" />
<link rel="stylesheet" type="text/css" href="${ctxPath}/portal/h5/activity/css/style.css" />
</head>
<style>
  body.bg-fff .wrap{ background: #fff;}
  .yl-kecBox h6.title{ font-size: 1.4814814814815rem; text-align: center; color: #333; padding-top:2.2222222222222rem; padding-bottom: 0.86rem;}
  .yl-kecBox p.txt{ font-size: 0.88888888888889rem; color: #333; line-height: 1.6049382716049rem;}
  .yl-kecBox .pic{ width: 23.481481481481rem; height: 14.864197530864rem; margin: 0 auto; margin-bottom: 1.2rem; margin-top: 0.7rem;}
  .yl-kecBox .pic img{ width: 100%; height: 100%;}


</style>

<body class="bg-fff">

<div class="main wrap nofooter noheader yl-kecBox">
  <h6 class="title" style="">清华经管 —— 基金投资<br/>与行业分析实践课堂</h6>

  <div class="m50">
    <div class="conBox"> 
      <p class="txt"><span style="font-size:1.4814814814815rem;color:#333">课程介绍：<br/></span>课程拟邀请人保资产公募基金事业部总经理田昆，国金证券研究所大类资产配置资深分析师徐阳，国信证券固收首席分析师董德志等新财富证券分析师，以课堂讲座、案例分析、参观调研和模拟投资等形式授课。</p>
      <br/>
      <p class="txt"> <span style="font-size:1.4814814814815rem;color:#333">课程愿景：<br/>
      </span>期望能够帮助学生构建基金行业投资分析框架，掌握宏观分析、行业分析、财务分析的基础知识，并培养研究报告撰写、公司调研、构建组合策略的基本能力。</p>
     <div class="pic">
        <img src="${ctxPath}/portal/h5/activity/images/tian/pic.png">
      </div>
    </div>
    <#queryactivityinfo;queryactivityinfo>
   <%if(queryactivityinfo.code=='0000'){%>
    <%if(queryactivityinfo.data!=null&&queryactivityinfo.data!=""){%>
      <a class="g-btns g-submit" href="${ctxPath}/h5/activityuserinfo" style="margin-bottom: 1.2rem;">完善个人信息</a>
	<%}else{%>
	 <a class="g-btns g-submit" href="${ctxPath}/h5/personalinformation" style="margin-bottom: 1.2rem;">完善个人信息</a>
	<%}%>
	<%}%>
	</#queryactivityinfo>
  </div>
</div>

</body>
</html>
