<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>人保资产基金 - 首页</title>
<%include("/pc/common/meta.html"){}%>
<%include("/pc/common/resource.html"){}%>
<link href="${ctxPath}/portal/pc/css/mbTooltip.css" rel="stylesheet" type="text/css" />
<script src="${ctxPath}/portal/pc/js/jquery.timers.js"></script>
<script src="${ctxPath}/portal/pc/js/mbTooltip.js"></script>
<script src="${ctxPath}/portal/pc/js/js2017329.js"></script>
</head>
  <script>
      $(function(){
          $("body").mbTooltip({ // also $([domElement]).mbTooltip  >>  in this case only children element are involved
              opacity : .97,       //opacity
              wait:100,           //before show
              cssClass:"default",  // default = default
              timePerWord:20,      //time to show in milliseconds per word
              hasArrow:true,			// if you whant a little arrow on the corner
              imgPath:"${ctxPath}/portal/pc/images/",
              anchor:"mouse", //"parent"  you can anchor the tooltip to the mouse position or at the bottom of the element
              mb_fade:0 //the time to fade-in
          });
      });
  </script>
<body class="body-2017-3-29">
   <%include("/pc/common/top.html",{flag:"index"}){}%>
   <%include("/pc/include/index/big_banner.html"){}%>
   <%include("/pc/include/index/indexnews.html"){}%>
   <%include("/pc/common/footer.html"){}%>
   <%include("/pc/common/bottom.html"){}%> 
</body>
</html>