<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>投资建议列表</title>
<%include("/pc/common/meta.html"){}%>
<%include("/pc/common/resource.html"){}%>
</head>
<body>
  <input type="hidden" id="topicCode" value="adviseList"/>
  <%include("/pc/common/top.html",{flag:"news"}){}%>
  <%include("/pc/include/index/big_banner.html"){}%>
  <div class="wrap bosom">
    <%include("/pc/include/news/leftBar.html",{flag:"3"}){}%>
    <%include("/pc/include/news/newsInfo2List.html"){}%>
  </div>
  <%include("/pc/common/footer.html"){}%>
  <%include("/pc/common/bottom.html"){}%> 
</body>
</html>