<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>产品详情页</title>
<%include("/pc/common/meta.html"){}%>
<%include("/pc/common/resource.html"){}%>
<script type="text/javascript">
var chart;
//资产总值饼图
function  highpie(piedata){
	if(piedata.length>0){
    $('#container1').highcharts({
        chart: {
        	margin:[0,0,0,-150],
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: ''
        }, 
        exporting: { enabled: false }, //用来设置是否显示‘打印’,'导出'等功能按钮，不设置时默认为显示  },
        credits: { enabled: false },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
            	size:160,
                //allowPointSelect: true, 
                cursor: 'pointer',
                dataLabels: {
                    enabled:false
                },
                showInLegend: true
            }
        },
          legend: {
                 layout: 'vertical',
                 backgroundColor: '#FFFFFF',
                 align: 'right',
                 verticalAlign: 'top',
                 x: 0,
                 y: 50,
                 floating: true,
                 shadow: false
             },
        series: [{
            type: 'pie',
            name: '资产配置',
            data:piedata
        }]
    });
	
	}else{
		$("#container1").html("<center>...暂无相关数据...</center>");
	}
}
$(function(){
	var piedata=[];
	var assetSum = 0;
	<#publicFundAsset fund_code='${fund_code!}';fundasset>
		<%if(fundasset.~size>0){%>
			<%for (asset in fundasset){%>
				var id="${asset.vc_xm}";
				var value=${asset.i_bl};
				assetSum = assetSum + ${asset.i_je};
				piedata.push({name:id,y:value});
			<%}%>
		<%}%>
	$("#assetSum").html((assetSum/100000000)+"亿元");
	</#publicFundAsset>
	highpie(piedata);
	gotoPage('1','1');
	loadPage("${fund_type!}");
});
//基金公告分页下一页
function gotoPage(p,tp){
  if(p<1 || p>tp){
	return;
  }
  $("#fundNotice").load("${ctxPath}/pc/product/fundNoticePage?fund_id=${fund_id!}&fund_code=${fund_code!}&p="+p);
}
//根据不同的基金类型加载不同的历史净值及分红页面
function loadPage(fund_type){
  if(fund_type=='4'){
	$("#historyEarning").load("${ctxPath}/pc/product/historyEarning?fund_code=${fund_code!}&p=1");
  }else{
	$("#historyEarning").load("${ctxPath}/pc/product/historyBonus?fund_code=${fund_code!}&p=1");
  }
}

//货币型-历史净值及分红分页下一页
function nextPage(p,tp){
  if(p<1 || p>tp){
		return;
  }
  //货币型历史净值
  $("#historyEarning").load("${ctxPath}/pc/product/historyEarning?fund_code=${fund_code!}&p="+p);
}

</script>
</head>
<body>
   <%include("/pc/common/top.html",{flag:"product"}){}%>
   <div class="wrap g-borders">
     <div class="g-m20-15">
       <%include("/pc/include/product/基金收益信息.html"){}%>
       <%include("/pc/include/product/曲线图.html"){}%>
     </div>
   </div>
   <div class="wrap g-borders bottom-p10 m-top20 m-b34">
     <ul class="m-ccTagtitle" m-switch-tab="cc">
        <li>基金概述</li>
        <li>净值及分红</li>
        <li>基金经理</li>
        <li>费率结构</li>
        <li>基金公告</li>
        <li>销售机构 </li>
     </ul>
       <div class="m-ccTagcons" m-switch-con="cc">
         <%include("/pc/include/product/基金概述信息.html"){}%>
         <%include("/pc/include/product/净值及分红信息.html"){}%>
         <%include("/pc/include/product/基金经理信息.html"){}%>
         <%include("/pc/include/product/费率结构信息.html"){}%>
         <%include("/pc/include/product/基金公告信息.html"){}%>
         <%include("/pc/include/product/销售机构信息.html"){}%>
       </div>
          <script>
             $(".m-ccTagtitle li").eq(0).addClass("m-on");
             $(".m-ccTagtitle li").click(function () {
                $(".m-ccTagtitle li").removeClass("m-on");
                var idx = $(".m-ccTagtitle li").index(this);
                $(this).addClass("m-on");
                $(".m-ccTagcons cc-con").hide();
                $(".m-ccTagcons cc-con").eq(idx).show()
             });
          </script>
     </div>
     <%include("/pc/common/footer.html"){}%>
     <%include("/pc/common/bottom.html"){}%> 
</body>
</html>