<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>产品专区</title>
<%include("/pc/common/meta.html"){}%>
<%include("/pc/common/resource.html"){}%>
</head>
<body>
   <%include("/pc/common/top.html",{flag:"product"}){}%>
   <%include("/pc/include/index/big_banner.html"){}%>
   <%include("/pc/include/product/productList.html"){}%>
   <%include("/pc/common/footer.html"){}%>
   <%include("/pc/common/bottom.html"){}%> 
</body>
</html>