 <#recruits page="${p!}" pagesize="10" depart="${depart!}" workPlace="${workPlace!}";pageRecord>  
                    <div class="p-tables" style="height: auto;">
                        <table class="p-table" border="0" cellpadding="0" cellpadding="0" style="width:810px;">
                             <thead style="width:810px;" >
                                <tr>
                                   <th width="20%">岗位名称 </th>
                                   <th width="20%">招聘部门</th>
                                   <th width="15%">工作地点</th>
                                   <th width="15%">招聘人数 </th>
                                   <th width="20%">发布日期 </th>
                                   <th width="10%">查看详情</th>
                                </tr>
                             </thead>
                              
                             <tbody style="width:810px;">
                             
							 <%if(pageRecord.code=="0000"){%>
								<%for(recruit in pageRecord.data.dataList){%>
                                  <tr>
                                     <td width="20%" id="p-mingcheng">${recruit.post_name}</td>
                                     <td width="20%">${recruit.bm}</td>
                                     <td width="15%">${recruit.post_city}</td>
                                     <td width="15%">${recruit.req_num}</td>
                                     <td width="20%"><span class="p-time">${ strutil.subStringTo(recruit.create_date,0,10)}</span></td>
                                     <td width="10%">
                                     <a href="${ctxPath}/pc/about/recruitInfo?id=${recruit.id}"><img src="${ctxPath}/portal/pc/images/about_02.png" /></a>
                                     </td>                                  
                                  </tr> 
								<%}%>
							<%}else{%>
								  <tr><td colspan="6">暂无相关信息</td></tr>
							<%}%> 
							
								  
                             </tbody>                       
                        
                        </table>                   
                    </div>
	
	<%
       var p = pageRecord.data.page;   // 当前页
       var totalPage = pageRecord.data.totalPage;     // 总页数
	%>
	<div class="m-g-pageBox" style="margin-right:275px;">
      <div class="m-g-page">
        <input  id="totalPage" value="${pageRecord.data.totalPage}" type="hidden">
        <span class="page"><a id="a1" class="item" href="javascript:void(0);" onclick="gotoPage(1);">首页</a></span>
        <span><a id="a2" class="item" href="javascript:void(0);" onclick="gotoPage(${p-1})">上一页</a></span>
          <a id="a3" class="item" href="javascript:void(0);" onclick="gotoPage(${p+1})" >下一页</a>
          <a id="a4" class="item" href="javascript:void(0);" onclick="gotoPage(${totalPage})">尾页</a>
        <span class="info" style="padding:0 20px;">共${totalPage}页 当前为第<input class="thisnumber" id="pagenum" value="${p}" type="text">页</span>
        <%if(pageRecord.data.totalPage>1){%>
        <span ><a  class="item on"  href="javascript:void(0);" onclick="jumpPage()">确认</a></span>
        <%}else{%>
          <span ><a class="item"  href="javascript:void(0);" >确认</a></span>
         <%}%>
      </div>
    </div>
    
    
    <script type="text/javascript">    
      function setCss(){
    	  if(${p}>1){
    		  $("#a1").addClass("on");
    		  $("#a2").addClass("on");
    	  }
    	  if(${totalPage}>${p}){
    		  $("#a3").addClass("on");
    		  $("#a4").addClass("on");
    	  }
      }
      $(function(){
    	  setCss();
      });
    </script>
    </#recruits>