<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>关于我们-公司简介</title>
<%include("/pc/common/meta.html"){}%>
<%include("/pc/common/resource.html"){}%>
</head>
<body class="body-2017-3-29">
  <%include("/pc/common/top.html",{flag:"abouts"}){}%>
  <%include("/pc/include/index/big_banner.html"){}%>
  <div class="wrap bosom">
     <%include("/pc/include/about/left_about.html",{about:"gsjj"}){}%>
       <div class="bm-right">
    <div class="gsjsBox">
      <div class="bg-1">
        <div class="txtBox">
          <p class="txt">
            <b class="bold">大型综合保险集团：</b>
            <span class="span">旗下拥有人保财险、人保资产、人保健康、人保寿险等10多家专业子公司，业务领域涵盖财产保险、人寿保险、健康保险、资产管理、保险经纪以及信托、基金等领域，形成了保险金融产业集群和综合经营集团架构。自2010年以来，始终为《财富》“世界500强”之一，2016年名列119位。</span>
          </p>
          <p class="txt">
            <b class="bold">服务全国，客户众多：</b>
            <span class="span">人保集团在全国拥有1.6万分支机构，服务网点覆盖全国100%的县，超40万人营销队伍。人保集团旗下公司拥有300万机构客户，3亿个人客户。</span>
          </p>
          <p class="txt">
            <b class="bold">开创中管保险集团海外整体上市先河：</b>
            <span class="span">2012年12月7日，中国人民保险集团股份有限公司在香港联合交易所完成了H股上市。</span>
          </p>
          <p class="txt">
            <b class="bold">人保财险是国内财产保险市场的领跑者，</b>
            <span class="span">2003年在香港联交所成功挂牌上
市，成为中国内地大型国有金融企业海外上市“第一股”，多年稳居亚洲财险公司第一、全球单一品牌财险公司第二。</span><b class="bold">人保寿险位居国内寿险公司前五
            名</b>，亚洲保险竞争力前八名，今年保持稳步增长态势。<b class="bold">人保健康险是国内最大的专业健康保险公司。</b><span class="span">在专业健康保险市场中占比达90%，处于绝对领先地位。</span>
          </p>
        </div>
      </div>
      <div class="bg-2">
        <div class="txtBox2">
          <div class="txtdiv1">2003年7月成立，注册资本8亿元。 截至2016年底，受托资产管理规模近9000亿元。</div>
          <div class="txtdiv2">
            <p class="txt">以保险资金运用为主业，在国内保险资产管理机构中较早开展了第三方保险机构的专户管理和企业年金与养老金投资管理业务，并积极创新和开展股权投</p>
            <p class="txt">资、基础设施债权投资业务、资产管理产品等业务，形成了企业年金、养老金、专户管理、资产管理产品、另类产品发行（债权投资计划、股权投资计划、不动产投资计划、项目资产支持计划等）和外汇投资多元化发展的业务格局，与国内各主要金融机构和大中型龙头企业建立了良好的合作关系。</p>
            <p class="txt">塑造“忠人之事，超越基准”的企业精神，是中国资本市场秉持价值投资理念、为客户创造绝对收益的重要机构投资者之一。</p>
            <p class="txt">长期以来，人保资产各年度的投资业绩均居于行业领先水平，稳定地超越行业平均收益率（2006年至2015年，管理资产年均收益率7.11%，比行业平均水平超出146BP）。</p>
            <p class="txt">2007年11月，人保资产获得企业年金基金投资管理人资格。2016年12月6
            日，入选全国社会保障基金理事会基本养老保险基金投资管理机构。</p>
            <p class="txt">2014年4月，获准设立全资子公司：人保资产管理（香港）有限公司。</p>

          </div>
        </div>
      </div>
      <div class="bg-3">
        <div class="txtBox">
         <p>2017年1月11日，人保资产公募基金管理业务资格获批。</p>
          <p>计划于2017年开业，将发行包括混合型、债券型、货币型、FOF等基金产品，依托人保资产，在固定收益和FOF产品方面进行战略布局，权益类基金产品将以获得稳定收益为目
          标。首年打下坚实的业绩与规模基础。</p>
          <p>截至2017年2月，公募基金及支持部门共40余人。平均从业年限6年，其中，95%以上拥有硕士及以上学历。</p>
          <p><b>打造具有保险特色的公募基金：</b>与集团及产寿健的品牌、资金、客户、销售和渠道网点资源相整合，开发和设计具有保险特色的公募基金产品和服务。</p>
          <p>基金持有人利益优先；公募业务与公司其他业务严格隔离，风险管理秉持全面、系统、独立、公平、透明的原则。</p>
        </div>
      </div>
      <div class="bg-4">
        <img src="${ctxPath}/portal/pc/images/2017-3-29/gsjs4.png" height="388" width="770"/></div>
    </div>
  </div> 
  </div>
  <%include("/pc/common/footer.html"){}%>
  <%include("/pc/common/bottom.html"){}%> 
</body>
</html>
