<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>关于我们-团队风采</title>
<%include("/pc/common/meta.html"){}%>
<%include("/pc/common/resource.html"){}%>
</head>
<body class="body-2017-3-29" >
  <%include("/pc/common/top.html",{flag:"abouts"}){}%>
  <%include("/pc/include/index/big_banner.html"){}%>
  <div class="wrap bosom">
     <%include("/pc/include/about/left_about.html",{about:"tdfc"}){}%>
  <div class="bm-right tdfcBox">
      <div class="tdfcBox">
          <h3>团队风采</h3>
          <div class="tdfc-imgbox">
              <div class="imgbox1"><img src="${ctxPath}/portal/pc/images/2017-3-29/tdfc1.png" height="309" width="672"/></div>
              <div class="imgbox2"><img src="${ctxPath}/portal/pc/images/2017-3-29/tdfc2.png" height="292" width="265"/><img style="vertical-align: top;margin-top: 50px;" src="${ctxPath}/portal/pc/images/2017-3-29/tdfc3.png" height="191" width="406"/></div>
              <div class="imgbox3"><img src="${ctxPath}/portal/pc/images/2017-3-29/tdfc4.png" height="325" width="407"/><img src="${ctxPath}/portal/pc/images/2017-3-29/tdfc5.png" height="317"width="263"/></div>
              <div class="imgbox4"><img src="${ctxPath}/portal/pc/images/2017-3-29/tdfc6.png" height="329" width="324"/><img src="${ctxPath}/portal/pc/images/2017-3-29/tdfc7.png" height="330" width="347"/></div>
          </div>
  </div>
  </div>
  </div>
  <%include("/pc/common/footer.html"){}%>
  <%include("/pc/common/bottom.html"){}%> 
</body>
</html>
