 <#articleDetail id="${id!}" topicCode="${topicCode!}";article,content,cmsArticleList>
    <h1 class="title g-center">${article.title}</h1>
    <p class="info g-center"><span>来源：${article.author}</span><span>时间：${ strutil.subStringTo(article.publish_time,0,10)}</span></p>
    <%
       var size = @cmsArticleList.size();
    %>
    <div class="content"> 
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${content}</p>
      <div class="g-content-page">
        <%
         if(size>0){
          if(@cmsArticleList.get(0)!=null){
            var cmsArticle = @cmsArticleList.get(0);
        %>
          <a href="${ctxPath}/pc/about/zxdtArtNavigation?id=${@cmsArticle.getId()}&topicCode=${topicCode}">上一篇：${@cmsArticle.getTitle()}</a>
        <%}else{%>
                            上一篇：没有了
        <%
          }  
          if(@cmsArticleList.get(1)!=null){
            var cmsArticle = @cmsArticleList.get(1);
        %>
          <a href="${ctxPath}/pc/about/zxdtArtNavigation?id=${@cmsArticle.getId()}&topicCode=${topicCode}">下一篇：${@cmsArticle.getTitle()}</a>
        <%
          }else{
        %>
                          下一篇：没有了
        <%
          }   
         }
        %>
      </div>
    </div>
  </#articleDetail>