<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>关于我们-总裁致辞</title>
<%include("/pc/common/meta.html"){}%>
<%include("/pc/common/resource.html"){}%>
</head>
<body class="body-2017-3-29">
  <%include("/pc/common/top.html",{flag:"abouts"}){}%>
  <%include("/pc/include/index/big_banner.html"){}%>
  <div class="wrap bosom">
     <%include("/pc/include/about/left_about.html",{about:"zczc"}){}%>
  <div class="zhici bm-right">
      <div class="zhiciBox">
          <h3>总裁致辞</h3>
          <p class="txt">中国人保资产管理有限公司是中国保险行业第一家保险资产管理公司，是中国人民保险集团按照中央和国务院关于提升保险资金专业化运用的精神，经保监会批准发起设立的首家保险资金专业化管理运用机构。</p>
          <p class="txt">人保资产自2003年成立以来，历经十余年的发展已经成长为中国资本市场具有成熟保险资金管理经验、擅长资产组合管理策略、具有先进的风险管控机制和高效稳健的综合运营保障平台的国内领先资产管理机构。</p>
          <p class="txt"> 我们在传统的债券、股票、基金等基础金融资产配置领域，在投资或发起设立债权、股权等另类创新产品方向上都有丰富经验；我们不仅专业地管理保险资金，还着注于企业年金、理财资金等非保险资金的管理；我们始终秉承研究发现价值，投资创造价值，风险管理保障价值的经营理念；我们以价值创造为工作导向，奉行“以人为本，敬事而信”的核心价值观，着眼于客户的需求，着力于以“忠人之事，超越基准”的企业精神，用我们的诚信和专业履行对每一位客户的承诺。</p>
          <p class="txt"> 我们相信，随着改革开放进一步推进、财富管理市场加速发展，我们的资产管理业务将面临更加丰富的发展机会；我们相信，凭借专业的人才团队、成熟的投资理念、高效的管理机制、稳健的投资风格，人保资产将继往开来，更加充分地发挥市场化引领下创新驱动的专业化资产管理优势，为广大客户的价值提升做出更多贡献！
          </p>
          <div class="zhici-name">中国人保资产管理有限公司总裁 <span class="name">&nbsp;&nbsp;王颢</span></div>
      </div>
  </div>
  </div>
  <%include("/pc/common/footer.html"){}%>
  <%include("/pc/common/bottom.html"){}%> 
</body>
</html>
