<div class="md-bao-han">
     <!-- 历史净值 -->
     <div class="t-fl left">
       <div class="title">历史净值表</div>
           <div class="md-biao-g">
              <div id="fundnavList"></div>
           </div>
     </div>
     <!-- 历史分红 -->
     <div class="t-fl right">
       <div class="title">历史分红表</div>
           <div class="md-biao-g">
              <div id="fundDevidedList"></div>
           </div>
       <!-- 历史拆分 -->
       <div class="title down">历史拆分表</div>
            <div class="md-biao-g">
               <div id="fundSplitList"></div>
            </div>
     </div>
</div>
<script type="text/javascript">
function gotoPage_1(p,tp){
	if(p>tp || p<1){
		return;
	}
	$("#fundnavList").load("${ctxPath}/pc/product/fundnavList?fund_code=${fund_code!}&p="+p);
}
function gotoPage_2(p,tp){
	if(p>tp || p<1){
		return;
	}
	$("#fundDevidedList").load("${ctxPath}/pc/product/fundDevidedList?fund_code=${fund_code!}&p="+p);
}
function gotoPage_3(p,tp){
	if(p>tp || p<1){
		return;
	}
	$("#fundSplitList").load("${ctxPath}/pc/product/fundSplitList?fund_code=${fund_code!}&p="+p);
}
$(function(){
	gotoPage_1(1,1);
	gotoPage_2(1,1);
	gotoPage_3(1,1);
});
</script>


 
