<!DOCTYPE HTML>
<html>
<%include("/pc/common/meta.html"){}%>
<link href="${static_ctx}/portal/css/page_news_list.min.css"
	rel="stylesheet" type="text/css" />
<body id="index">
	<div class="pageWidth" id="box_root">
		<div id="box_top">
			<%include("/pc/common/header.html",{flag:"consult"}){}%>
			<div id="box_top_sub3">
				<div  class="columnSpace"
					id="elem-FrontPublic_slideShow01-1441866455619yeneiban" >
				</div>
			</div>
		</div>
		<%include("/pc/include/constructionbody.html"){}%>
		<%include("/pc/common/footer.html"){}%> 
	</div>
	<script  src='${static_ctx}/portal/js/visittrack_1.js' type='text/javascript'></script>
</body>
</html>