<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>客户服务</title>
<%include("/pc/common/meta.html"){}%>
<%include("/pc/common/resource.html"){}%>
</head>
<body>
  <%include("/pc/common/top.html",{flag:"service"}){}%>
  <%include("/pc/include/index/big_banner.html"){}%>
  <div class="wrap bosom">
     <%include("/pc/include/customer/left_customer.html",{flag:"5"}){}%>
     <%include("/pc/include/customer/投资者教育.html"){}%>
  </div>
  <%include("/pc/common/footer.html"){}%>
  <%include("/pc/common/bottom.html"){}%> 
</body>
</html>