<#topic_article topicCode="bzzxPage" page="${p!}" rows="10";pageRecord>
   <ul class="m-g-list">
   <%if(pageRecord.dataList.~size>0){%>
   <%for(article in pageRecord.dataList){%>
    <li><a class="title-a" href="${ctxPath}/pc/newsInfo/articleInfo?id=${article.id}&topicCode=bzzxPage"><span class="icon">◆</span>${article.title}</a><span class="time">${ strutil.subStringTo(article.publish_time,0,10)}</span></li>
   <%}%>
   <%}%>
   </ul>
  <%
      var p = pageRecord.page;   // 当前页
      var totalPage = pageRecord.totalPage;     // 总页数
   %>
    <div class="m-g-pageBox" style="margin-right:22px;">
      <div class="m-g-page">
      <span>
        <input  id="totalPage" value="${pageRecord.totalPage}" type="hidden">
        <a id="a1" class="item" href="javascript:void(0);" onclick="helpCenterPage(1);">首页</a></span><span>
        <a id="a2" class="item" href="javascript:void(0);" onclick="helpCenterPage(${p-1});">上一页</a></span>
        <a id="a3" class="item" href="javascript:void(0);" onclick="helpCenterPage(${p+1});">下一页</a>
        <a id="a4" class="item" href="javascript:void(0);" onclick="helpCenterPage(${totalPage});">尾页</a>
      <span class="info" style="padding:0 20px;">共${totalPage}页 当前为第<input class="thisnumber" id="pagenum" value="${p}" type="text">页</span>
      <%if(pageRecord.totalPage>1){%>
       <span ><a class="item on"  href="javascript:void(0);" onclick="jumpPage()">确认</a></span>
       <%}else{%>
       <span ><a class="item"  href="javascript:void(0);" >确认</a></span>
       <%}%>
      </div>
    </div>
    <script type="text/javascript">    
      function setCss(){
    	  if(${p}>1){
    		  $("#a1").addClass("on");
    		  $("#a2").addClass("on");
    	  }
    	  if(${totalPage}>${p}){
    		  $("#a3").addClass("on");
    		  $("#a4").addClass("on");
    	  }
      }
      $(function(){
    	  setCss();
      });
    </script>
</#topic_article>