         <#productFundNav fundcode="${fund_code!}" page="${p!}" pagesize="10" ;fundnav>
           <%if(fundnav!=null && fundnav.data.dataList.~size>0){%>
            <table width="465" class="table" border="0" cellspacing="0" cellpadding="0">
               <thead>
                  <tr>
                    <th>日期</th>
                    <th>单位净值（元）</th>
                    <th>累计净值（元）</th>
                  </tr>
               </thead>
               <tbody>
               <%for(nav in fundnav.data.dataList){%>
                  <tr>
                     <td>${nav.c_funddate}</td>
                  <%if(nav.i_fundvalue!=null){%>
                     <td>${nav.i_fundvalue!,numberFormat="###,###,##0.0000"}</td> 
                  <%}else{%>
                     <td>0.0000</td>
                  <%}%>
                  <%if(nav.i_fundtotalnetval!=null){%>
                     <td><span class="c-333333">${nav.i_fundtotalnetval!,numberFormat="###,###,##0.0000"}</span></td>
                  <%}else{%>
                     <td>0.0000</td>
                  <%}%>
                  </tr>
                <%}%>
               </tbody>
            </table>
            <%
               var p = fundnav.data.page;  //当前页
               var totalPage = fundnav.data.totalPage;  //总页数
            %>
            <div class="m-g-pageBox md-page-box">
      		   <div class="m-g-page">
      		      <span>
      		         <a id="a1_1" class="item" href="javascript:void(0);" onclick="gotoPage_1(1,${totalPage});">首页</a>
      		      </span>
      		      <span>
      		         <a id="a2_1" class="item" href="javascript:void(0);" onclick="gotoPage_1(${p-1},${totalPage});">上一页</a>
      		      </span>
      		         <a id="a3_1"class="item" href="javascript:void(0);" onclick="gotoPage_1(${p+1},${totalPage});">下一页</a>
                     <a id="a4_1" class="item" href="javascript:void(0);" onclick="gotoPage_1(${totalPage},${totalPage});">尾页</a>
      			  <span class="info">共${totalPage}页 当前为第<input class="thisnumber" value="${p}" type="text">页</span>
    		</div>
    		<script type="text/javascript">    
              function setCss(){
    	        if(${p}>1){
    		      $("#a1_1").addClass("on");
    		      $("#a2_1").addClass("on");
    	        }
    	        if(${totalPage}>${p}){
    		      $("#a3_1").addClass("on");
    		      $("#a4_1").addClass("on");
    	        }
             }
             $(function(){
    	       setCss();
             });
           </script>
    	  <%}else{%>
    	    <center>...暂无更新数据...</center>
    	  <%}%>
         </#productFundNav>