     <#publicFundDevided  fundcode="${fund_code!}" page="${p!}" pagesize="5";fundDevided>
      <%if(fundDevided!=null && fundDevided.data.dataList.~size>0){%>
          <table width="465" class="table" border="0" cellspacing="0" cellpadding="0">
             <thead>
                <tr>
                   <th>权益登记日</th>
                   <th>红利发放日</th>
                   <th style="text-align:center">每十份派现金额（元）</th>
                </tr>
              </thead>
              <tbody>
                    <%for(devided in fundDevided.data.dataList){%>
                      <tr>
                         <td>${devided.bookingdate}</td>
                         <td>${devided.bonusissuedate}</td>
                         <td style="text-align:center">${devided.unitvalue}</td>
                      </tr>
                     <%}%>
              </tbody>
          </table>
           <%
               var p = fundDevided.data.page;  //当前页
               var totalPage = fundDevided.data.totalPage;  //总页数
            %>
            <div class="m-g-pageBox md-page-box">
      		   <div class="m-g-page">
      		      <span>
      		         <a id="a1_2" class="item" href="javascript:void(0);" onclick="gotoPage_2(1,${totalPage});">首页</a>
      		      </span>
      		      <span>
      		         <a id="a2_2" class="item" href="javascript:void(0);" onclick="gotoPage_2(${p-1},${totalPage});">上一页</a>
      		      </span>
      		         <a id="a3_2"class="item" href="javascript:void(0);" onclick="gotoPage_2(${p+1},${totalPage});">下一页</a>
                     <a id="a4_2" class="item" href="javascript:void(0);" onclick="gotoPage_2(${totalPage},${totalPage});">尾页</a>
      			  <span class="info">共${totalPage}页 当前为第<input class="thisnumber" value="${p}" type="text">页</span>
    		</div>
    		<script type="text/javascript">    
              function setCss(){
    	        if(${p}>1){
    		      $("#a1_2").addClass("on");
    		      $("#a2_2").addClass("on");
    	        }
    	        if(${totalPage}>${p}){
    		      $("#a3_2").addClass("on");
    		      $("#a4_2").addClass("on");
    	        }
             }
             $(function(){
    	       setCss();
             });
           </script>
     <%}else{%>
        <center>...暂无更新数据...</center>
     <%}%>
    </#publicFundDevided>