<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>荣誉管理</title>
<script type="text/javascript" src="${ctx}/resource-injar/script?t=/plugin/datepicker/WdatePicker.js&version=2015120313" charset="utf-8"></script>
<%include("resource/template/common/resource.html"){}%>
</head>

<script id="tableContent" type="text/html">
	{{each dataList as row}}
		<tr>
			<td>
            	<span class="checkall" style="vertical-align:middle;">
                	<input id="id_{{row.id}}" type="checkbox" name="_ckid" value="{{row.id}}"/>
               	</span>
            </td>
            <td>{{row.honor_type}}</td>          
            <td>{{row.honor_name}}</td>
            <td>{{row.honor_year}}</td>
 			<td>{{row.honor_from}}</td>
 			<td>{{row.create_date}}</td>
            <td>{{row.del_flag | decode:'0','未删除','1','已删除'}}</td>
            <td>
				<a href="javascript:;"  onclick='edit("${ctx}/admin/honorManager/edit/{{row.id}}")'>修改</a>
            </td> 
         </tr>
	{{/each}}
</script>
<body class="mainbody">
 		<div class="toolbar-wrap">
              <div id="floatHead" class="toolbar">   
                <div class="l-list">
                    <ul class="icon-list">
                    <#permission url="/admin/honorManager/add">
                        <li><a class="add" onclick='fullWithBar("${ctx}/admin/honorManager/add")' href="javascript:;"><i></i><span>新增</span></a>
                        </li>
                    </#permission>
                    <#permission url="/admin/honorManager/delete">
                       <li><a class="all" href="javascript:;" onclick="checkAll(this);"><i></i><span>全选</span></a>
                       </li>
                       <li><a onclick="del('${ctx}/admin/honorManager/delete')" id="btnDelete" class="del" href="javascript:;"><i></i><span>删除</span></a>
                       </li>
                    </#permission>
                    </ul>
                     </div>
                   </div>
          </div>
          <div class="searchbar">
          <div class="searchForm">
          <form id="search_form">
			<dl>
				<dt>获奖年份：</dt>
				<dd>
				<%var nowDate = date();%>
					<input class="input middle" name="from_date" style="width:133px;" onclick="WdatePicker({dateFmt:'yyyy',maxDate: '#F{$dp.$D(\'endDate\');}' })"  type="text" id="beginDate" value=""/>~
					<input class="input middle" name="to_date" style="width:133px;" onclick="WdatePicker({dateFmt:'yyyy',minDate: '#F{$dp.$D(\'beginDate\');}',maxDate:'%y-%M-%d' })"  type="text" id="endDate" 
						value=""/>
				</dd>
			</dl>
			
			<dl>
				<dt>奖项名称：</dt>
				<dd>
					<input class="input middle" name="honor_name" style="width:133px;" id="honor_name" />
				</dd>
			</dl>
			
			<dl>
				<dt>奖项类型：</dt>
				<dd>
					<input class="input middle" name="honor_type" style="width:133px;" id="honor_type " />
				</dd>
			</dl>
			
		  </form>
          </div>
          <div class="searchButton" style="float: right;margin-right: 60px;">
             <input id="searchBtn" class="btn" type="button" value="搜 索" />
             <input id="clearBtn" class="btn yellow" type="button" value="重 置" />
   		  </div>
		</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable" url="${ctx}/admin/honorManager/json">
            <tr>
                <th>选择</th>
                <th sort="honor_type">奖项类型</th>
                <th sort="honor_name">奖项名称</th>
                <th sort="honor_year">获奖时间</th>
                <th sort="honor_from">来源</th>
                <th sort="create_date">创建时间</th>
                <th sort="del_flag">是否删除</th>
                <th>操作</th>
            </tr>
            <tbody id="tablelist"></tbody>
        </table>
        <div class="pagelist"></div>
</body>
</html>