<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>拜访信息</title>
<%include("resource/template/common/resource.html"){}%>
</head>
<script id="tableContent" type="text/html">
	{{each dataList as row}}
		<tr>
			<td>
            	<span class="checkall" style="vertical-align:middle;">
                	<input id="id_{{row.id}}" type="checkbox" name="_ckid" value="{{row.id}}"/>
               	</span>
            </td>
            <td>{{row.visitsubject}}</td>   
			<td>{{row.cust_name}}</td>       
			<td>{{row.visitobject}}</td>    
			<td>{{row.visitmethods | propertiesVal:'visitmethods_list'}}</td>
			<td>{{row.visitaddress}}</td>
            <td>{{row.visitcontent}}</td>
			<td>{{row.startdate}}</td>
			<td>{{row.enddate}}</td>
            <td>
				<a href="javascript:;" onclick='edit("${ctx}/admin/cust/visitrecord/edit/{{row.id}}")'>修改</a>
            </td>
         </tr>
	{{/each}}
</script>
<body class="mainbody">
 <div class="toolbar-wrap">
 			<div id="floatHead" class="toolbar">
                <div class="l-list">
                    <ul class="icon-list">
                    <#permission url="/admin/cust/visitrecord/insert">
                        <li><a class="add" onclick='add("${ctx}/admin/cust/visitrecord/add")' href="javascript:;"><i></i><span>新增</span></a>
                        </li>
                    </#permission>
                    <#permission url="/admin/cust/visitrecord/delete">
                       <li><a class="all" href="javascript:;" onclick="checkAll(this);"><i></i><span>全选</span></a>
                       </li>
                       <li><a onclick="del('${ctx}/admin/cust/visitrecord/delete')" id="btnDelete" class="del" href="javascript:;"><i></i><span>删除</span></a>
                       </li>
                    </#permission>
                    </ul>
                </div>
            </div>
          <div class="searchbar">
          <div class="searchForm">
          <form id="search_form">
					<dl>
						<dt>拜访主题：</dt>
						<dd>
		   		      	    <input class="input middle" name="visitsubject" type="text" style="width:133px;" id="visitsubject"/> 
						</dd>
					</dl>
				</form>
          </div>
          <div class="searchButton" style="float: right;margin-right: 60px;">
             <input id="searchBtn" class="btn" type="button" value="搜 索" />
             <input id="clearBtn" class="btn yellow" type="button" value="重 置" />
   		  </div>
		</div>
        </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable" url="${ctx}/admin/cust/visitrecord/json">
            <tr>
                <th>选择</th>
                <th sort="visitsubject">拜访主题</th>
                <th sort="cust_name">客户名称</th>
                <th sort="visitobject">拜访对象</th>
                <th sort="visitmethods">拜访方式</th>
                <th sort="visitaddress">拜访地点</th>
                <th sort="visitcontent">拜访内容</th>
                <th sort="startdate">拜访开始时间</th>
                <th sort="enddate">拜访结束时间</th>
                <th>操作</th>
            </tr>
            <tbody id="tablelist"></tbody>
        </table>
        <div class="pagelist"></div>
</body>
</html>