<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>修改用户</title>
<%include("resource/template/common/resource.html"){}%>
</head>
<body class="mainbody">
		<div class="content-tab-wrap">
			<div id="floatHead" class="content-tab">
				<div class="content-tab-ul-wrap">
					<ul>
						<li><a href="javascript:;" onclick="tabs(this);"class="selected">用户基本信息</a></li>
					</ul>
				</div>
			</div>
		</div>
		<form id="data_form">
		<input type="hidden" name="id" value="${user.id}" />
		<div class="tab-content">
			<dl>
				<dt>是否启用</dt>
				<dd>
					<div class="rule-single-checkbox">
						<input id="status" type="checkbox" name="status" value="1" ${user.status=='1'?'checked="checked"':''} />
					</div>
					<span id="Validform_checktip">*不启用则无法使用该账户登录</span>
				</dd>
			</dl>
			<dl>
				<dt>用户名</dt>
				<dd>
					<input name="login_name" type="text" id="login_name" class="input normal" value="${user.login_name}"/>
					<span id="Validform_checktip">*字母、下划线，不可修改</span>
				</dd>
			</dl>
			<dl>
				<dt>姓名</dt>
				<dd>
					<input name="name" type="text" id="name" class="input normal" value="${user.name}"/>
					<span id="Validform_checktip">*</span>
					
				</dd>
			</dl>
			<dl>
				<dt>电话</dt>
				<dd>
					<input name="phone" type="text" id="phone" class="input normal" value="${user.phone}"/>
					<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>邮箱</dt>
				<dd>
					<input name="email" type="text" id="email" class="input normal" value="${user.email}"/>
					<span id="Validform_checktip">*</span>
				</dd>
			</dl>
			<dl>
				<dt>角色</dt>
				<dd>
					<div class="rule-multi-porp">
						<span id="cblActionType">
							<%for(role in roleList){%>
							<input id="${role.id }" type="checkbox" name="roles" value="${role.id}" ${strutil.contain(roleIds,role.id) ? "checked":""}/>
							<label for="${role.id }">${role.name}</label>
							<%}%>
						</span>
					</div>
					<input type="hidden" id="role"/>
					<span id="Validform_checktip">*角色</span>
				</dd>
			</dl>
		</div>
		</form>
		<div class="page-footer">
			<div class="btn-list">
			<#permission url="/admin/sys/user/update">
				<input type="button" name="btnSubmit" value="确 认" id="btnSubmit" class="btn" onclick="Public.ajaxUpdate('${ctx}/admin/sys/user/update')"/> 
			</#permission>
				<input name="btnReturn" type="button" value="取 消" class="btn yellow" onclick="Public.closeDialog();" />
			</div>
			<div class="clear"></div>
		</div>
</body>
</html>